[2018-04-13 13:32] martinda opened #1 "NoSuchMethodError: org.jclouds.http.internal.BaseHttpCommandExecutorService"
Hi @cdancy . I am trying the trivial example in the README.md file, but I get the run time error:

[code]
I suspect it has to do with the http library version. This project builds with:

[code]

And my project builds with:
[code]

I would also like to know the state of this project.

[2018-04-13 13:58] cdancy commented on #1
@martinda I haven't touched this project in quite sometime so it's not surprising to me you found a bug. I keep meaning to return to it just haven't had the time these past couple years. I can certainly look into things but admittedly there are not a lot of features here for better or worse.

[2018-04-18 13:06] martinda opened #2 "Deprected headers throw an exception"
### Expected Behavior
The following code should work against Jenkins 2.107.1:
[code]

### Current Behavior
An exception is thrown:
[code]
### Context
I can't use the jenkins-rest `SystemApi`.

### Steps to Reproduce (for bugs)
Run the above code against Jenkins 2.107.1.

### Your Environment
I have found that between 1.642.4 and 2.107.1, Jenkins no longer sends these headers:
* X-Hudson-CLI-Port
*

[2018-04-18 13:37] cdancy commented on #2
Thanks @martinda! As I noted in the PR: just remove the headers altogether. Not sure how many folks are using this library for older jenkins releases not to mention even care about these headers.

[2018-04-18 14:54] #2 closed

[2018-04-24 14:52] martinda opened #5 "Javadocs not published"
It looks like the javadocs have not been published since this page returns a 404:
http://cdancy.github.io/jenkins-rest/docs/javadoc/

Thanks in advance!

[2018-04-24 15:27] martinda opened #6 "[Question] buildWithParameters usage"
It is not clear to my why the `buildWithParameters()` method in [JobsApi.java](https://github.com/cdancy/jenkins-rest/blob/master/src/main/java/com/cdancy/jenkins/rest/features/JobsApi.java#L153) takes a map of lists as the second argument:
[code]
I would expect `Map<String, String>`. Why is the parameter value a list?

[2018-04-24 15:54] cdancy commented on #6
@martinda because you're allowed to pass in something like `?foo=bar,bar1,bar2&animal=bear`. The value part of the parameter can have multiple values for better/worse.

[2018-04-24 15:56] cdancy commented on #6
The above is for query parameters but the same applies here for form parameters. They can have multiple values attached to a single key.

[2018-04-24 16:26] cdancy commented on #5
@martinda minor bug in porting this code over from the `bitbucket-rest` library way too long ago. Fix is in place and docs have been updated.

[2018-04-24 16:26] #5 closed

[2018-04-24 20:35] martinda commented on #5
Thank you!

[2018-04-26 14:58] martinda opened #7 "First QueueItem parameter is merged with second one"
### Expected Behavior

QueueItem parameters are correct.

### Current Behavior

The first QueueItem parameter is merged with the second one.

### Context

This causes confusing when looking at the queue item while debugging other issues.

### Steps to Reproduce (for bugs)

See https://gist.github.com/martinda/ab13617fe7bcb663a7d40c4ea73de5bf

### Your Environment

Linux, jenkins-rest 0.0.6.

I hav

[2018-04-27 18:51] cdancy commented on #7
Closing as functionality has been merged.

[2018-04-27 18:51] #7 closed

[2018-04-27 18:51] #6 closed

[2018-05-03 16:03] martinda opened #9 "Q: How to enable http logging in application"
Is there a way to enable http logging to the console in an application using jenkins-rest, to show the interactions with the jenkins REST endpoint?

[2018-05-03 17:00] martinda commented on #9
At run time is when I need it, after my application is deployed, so that I can debug it when users encounter problems. To get logging to work, I had to do make the following local modification and publish jenkins-rest to my maven local:
[code]
I think I'll make adding modules and option to the builder, so logging can be added at the application level if needed.

[2018-05-03 17:30] Dhivyaa21 opened #10 "Job api to create jobs inside a folder"
Currently, the job Api to create a job is as follows

https://github.com/cdancy/jenkins-rest/blob/e17624716ace749dd7865601bda6648a801198bf/src/main/java/com/cdancy/jenkins/rest/features/JobsApi.java#L73-L82

This API creates a job in jenkins root folder but not inside a folder.

Perhaps, we can add another API to with a pathparam like `@Path("{pathToJob}/createItem")` to support the creation of jo

[2018-05-03 17:31] cdancy commented on #9
Sounds good and look forward to it!

[2018-05-03 17:33] cdancy commented on #10
@Dhivyaa21 that sounds like a great idea. Maybe something like `createWithPath(...)` would do? Care to send in a PR?

@martinda you've been working in this space recently and may have some thoughts one way or another.

[2018-05-03 18:00] Dhivyaa21 commented on #10
@cdancy Sure. I can send you a PR.

[2018-05-03 20:00] Dhivyaa21 commented on #10
This looks good. I am adding tests to this change. Meanwhile, a quick question. Do you think its a good idea to use this `OPTIONAL_FOLDER_PATH_PARAM` for all the job APIs? i am not sure if the other job APIs were designed to access jobs in a folder.

Right now we squeeze in the path to job in the `{name}` path parameter of other APIs. It was just the create API that did not have a way to create th

[2018-05-03 21:13] cdancy commented on #10
@Dhivyaa21 I would say that any endpoint that can take an optional folder parameter you can put together a PR to wire all of them up. As there are a few please put each endpoint change into its own commit for easier viewing/reviewing on my end.

[2018-05-04 00:45] martinda commented on #10
Great idea. I need this too. Thanks @Dhivyaa21 and @cdancy

[2018-05-07 14:44] cdancy commented on #9
@martinda version `0.0.8` has been released.

[2018-05-07 14:44] #9 closed

[2018-05-07 15:00] martinda opened #14 "Crumb issuer errors are not reported"
### Expected Behavior

When the crumb issuer is not configured in Jenkins, launching a build fails without an error message.

### Current Behavior

A null Integer is returned by `client.api().jobsApi().build(buildName)`.

### Context

Application fails without a meaningful error message, making it hard to debug.

### Steps to Reproduce (for bugs)

Run the following program with an authenticated us

[2018-05-07 15:02] cdancy commented on #14
I setup "crumb processing" to be transparent to the end-user. Might need an option to either disable it or account for it not being enabled.

[2018-05-07 15:04] cdancy commented on #14
Is there an exception thrown at all or just a null being returned? Does the job actually start?

[2018-05-07 15:13] martinda commented on #14
No exception is thrown, just null being returned. The job does not start.

[2018-05-07 15:28] martinda commented on #14
When an object is returned, it contains the error from Jenkins. For example the following:
[code]

will print:
[code]

[2018-05-07 15:32] martinda commented on #14
How about a change to the API and return some kind of BuildRequestResponse?

[2018-05-07 15:38] cdancy commented on #14
We need a more elegant solution here IMO. If the crumbIssuer can't be found, which means it's not enabled, then we should handle things transparently and keep moving forward. The change needs to happen somewhere around [HERE](https://github.com/cdancy/jenkins-rest/blob/master/src/main/java/com/cdancy/jenkins/rest/filters/JenkinsAuthenticationFilter.java#L59) in my opinion. Something like: if the c

[2018-05-07 23:58] martinda commented on #9
@cdancy Thank you. I learn a lot contributing to this project.

[2018-05-08 00:40] cdancy commented on #14
And yes for the endpoint you cited above I do want to convert that, and all other similar endpoints that return an Integer, to instead return a RequestStatus response.

[2018-05-09 12:23] martinda opened #16 "JobsApi.build() error messages are not reported"
### Expected Behavior

When launching a build with an invalid build name, errors reported by Jenkins should be passed along to the caller.

### Current Behavior

When launching a build with an invalid build name, a null Integer is returned.

### Context

When an invalid build name is passed, there is no indication as to what was wrong other than null being returned. This forces users to setup logg

[2018-05-09 12:46] martinda commented on #16
With logging, we can see what Jenkins returns:
[code]
It is the HTML body content that could be returned in the response.

[2018-05-09 15:06] cdancy commented on #16
Yeah this would be a perfect case for some some type of `ResponseWrapper`. I don't know if creating a more generic `IntegerResponse`, which is in the same vein as `ResponseWrapper` just housing an Integer and could be used across endpoints, or create something more specific for this endpoint that can only be used once. Any thoughts?

[2018-05-09 15:51] martinda commented on #16
Thinking about it and studying code in jenkins-rest/bitbucket-rest as well.

[2018-05-10 17:16] martinda commented on #16
Can you explain the difference you are making between a `ResponseWrapper` and an `IntegerResponse`, for example you say that `IntegerResponse` would be more generic than `ResponseWrapper`, what do you mean by that (I would have thought the other way around)?

[2018-05-10 17:33] cdancy commented on #16
@martinda I shouldn't have used the term `ResponseWrapper` as we don't actually have something by that name. I was actually referring to the very real `RequestStatus` which is a wrapper around a Boolean. My thinking was that all endpoints which return an `Integer` would instead return an `IntegerResponse` and all endpoints which return a `String` would instead return a `StringResponse` and so on a

[2018-05-10 18:16] martinda commented on #16
It may help to look at the REST API build process in details:
1. Call the build API, it returns a queue id (integer) or it fails with an error
1. Poll the queue API using the queue id, this can return different states in the `QueueItem` instance:
    1. build cancellation before the build even starts (do not wait anymore)
    1. build still pending (continue to wait or time out)
    1. build is ex

[2018-05-11 00:25] martinda commented on #16
I am attempting an implementation of `IntegerResponse` on [this branch](https://github.com/martinda/jenkins-rest/tree/feature/build-integer-response). I am not done, three tests are failing and I am debugging.

[2018-05-11 01:57] cdancy commented on #16
Very cool and looks good so far.

[2018-05-14 18:20] #16 closed, assigned to cdancy

[2018-05-14 19:50] Dhivyaa21 opened #21 "optionalFolderPath to take simple path expression also."
I am trying to make the JobsAPI's optionalFolderPath to accept simple path expression like
"folder1/folder2". In the code below, is it possible to access the request's `@pathparams`  values from within the filter method during runtime, so we could check if each name is preceded by `/job`, if not then append it?

https://github.com/cdancy/jenkins-rest/blob/cb7fbd54afe44fd0713b6f06f168a9db41483af4/s

[2018-05-14 19:59] cdancy commented on #21
@Dhivyaa21 yeah the `httpRequest` reference has everything you need. Feel free to send in a PR with an impl as I think this would be a welcome addition.

[2018-05-14 23:47] martinda commented on #21
Should this feature account for the following strange cases:
- Path expression starting with a slash (`/**`)
- Two or more slashes in a row at start, middle or end (`//**`, `**//**`, `**//`)
- Path expression ending with slash (`**/`)
Should the feature attempt to correct these, or return an error?

[2018-05-15 00:06] cdancy commented on #21
Agreed unless there is a reason I'm not thinking of. If were in agreement lets make sure we have tests to cover these use-cases as well.

Thanks for looking into things @martinda

[2018-05-24 17:45] cdancy commented on #21
Closing as this functionality has been merged with #22

[2018-05-24 17:45] #21 closed

[2018-06-02 04:57] martinda opened #23 "Wiki - offer"
I did more work on the Wiki and I was wondering if you'd be interested in rolling it in to upstream. It contains pretty much what I wanted to capture so far. It is [here](https://github.com/martinda/jenkins-rest/wiki).

I do not know how to open a PR for this though. It may not even be possible.

[2018-06-03 19:11] cdancy commented on #23
@martinda I've added you as a collaborator to this project which will give you access to all the bells and whistles to do what you need. You've been a great help thus far and put new life back into this project.

Feel free to update the wiki here as you see fit.

With respect to code I would ask that you, and I'll abide by this rule as well, do not push directly to master and instead create PR's i

[2018-06-05 13:15] martinda commented on #23
Thanks @cdancy . Yes will use continue to follow the usual pull-request flow for doing work. I am hoping to have time to continue the wiki soon!

[2018-06-05 13:21] cdancy commented on #23
@martinda and if I didn't already say so before: the wiki looks good to me ;)

[2018-06-09 13:32] martinda commented on #23
@cdancy thank you. I could not find a pull-request flow for the wiki, so I just pushed it. I think this issue can be closed.

[2018-06-09 18:40] cdancy commented on #23
Yeah I poked around as well, and while there are solutions, they feel a bit cumbersome.

[2018-06-09 18:40] #23 closed

[2018-07-05 03:39] Zephery opened #25 "could u plz upload to http://mvnrepository.com/"

[2018-07-14 14:49] martinda opened #26 "Empty parameter values cause"
### Expected Behavior

When a build parameter is set to the empty string, the QueueItem.create() method should set the parameter value to the empty string.

### Current Behavior

When a build parameter is set to the empty string, the QueueItem.create() method throws an ArrayIndexOutOfBoundsException error:
[code]
### Context

Some builds are triggered with parameter values set to empty, and those

[2018-07-15 01:36] martinda commented on #26
PR #27 merged. Closing.

[2018-07-15 01:36] #26 closed

[2018-07-15 11:52] martinda commented on #26
@cdancy yes please. Thank you.

[2018-07-15 13:11] cdancy commented on #26
@martinda `v0.0.12` has been released.

[2018-07-23 19:30] richabindra opened #28 "Retrieve build parameters of the job"
**Expected Behavior**

We can retrieve build parameters.

**Current Behavior**

Using the build info api, we can get build information like building,  display name, duration, number etc., but not the parameters information.

https://github.com/cdancy/jenkins-rest/blob/00cb735066f1df640756cd732df42323c69f039b/src/main/java/com/cdancy/jenkins/rest/domain/job/BuildInfo.java#L72-L82

**Context**

I am

[2018-07-23 19:32] cdancy commented on #28
@richabindra thanks and look forward to reviewing.

[2018-08-28 13:58] easternHong opened #30 "how to upload a txt file?"

[2018-09-04 13:30] cdancy commented on #30
@easternHong closing ISSUE. Feel free to re-open should you want to continue the conversation.

[2018-09-04 13:30] #30 closed

[2018-09-13 09:53] likaer opened #31 "jenkins-rest not compilable with jcloud"
Here is the version

        <dependency>
            <groupId>com.cdancy</groupId>
            <artifactId>jenkins-rest</artifactId>
            <version>0.0.13</version>
        </dependency>

when I run with this, I got this errors, see[jcloud](https://stackoverflow.com/questions/39615376/apache-jclouds-java-lang-nosuchmethoderror-when-using-rackspace-in-a-spring-boot) for more info

```org.spr

[2018-09-13 12:58] cdancy commented on #31
@likaer try using the shaded classifier and let me know how that works out.

[2018-09-13 14:44] cdancy commented on #31
@likaer it's a known issue with jclouds, which we use in the backend here, in that they depend on an older version of gson. There is an open JIRA issue where they are currently attempting to tackle this but until then you should be able to get around this by using the `shaded` classifier which bundles all deps into a single jar.

[2018-09-13 14:54] cdancy commented on #31
My apologies: it's the `all` classifier and NOT shaded.

[2018-09-14 11:06] likaer commented on #31
Fine, I get it work now.

`
        <dependency>
            <groupId>com.cdancy</groupId>
            <artifactId>jenkins-rest</artifactId>
            <version>0.0.13</version>
            <classifier>all</classifier>
        </dependency>
`

[2018-09-14 13:11] cdancy commented on #31
@likaer awesome. Closing this issue then. Feel free to re-open should you have anymore questions.

[2018-09-14 13:11] #31 closed

[2018-09-20 03:42] hcray opened #32 "HttpResponseException"
code:
    boolean ret = JenkinsClient.builder()
                .endPoint("http://10.1.1.44:8080/jenkins") // Optional. Defaults to http://127.0.0.1:8080
                .credentials("MjE4MjklM0FhYmNAMTIzNA==") // Optional.
                .build()
                .api().jobsApi().enable(null, "BER");

debug info:

SystemInfo{errors=[Error{context=null, message=Null message connecting to HEAD http

[2018-09-24 15:07] cdancy commented on #32
When I try to decode your auth I get `21829%3Aabc@1234` which is not valid. Decoding _should_ produce a string that looks like `username:password` (note the colon delimiter in the middle).

[2018-09-29 01:58] #32 closed

[2018-10-12 06:41] hcray opened #36 "Crumb issuer errors"
### Expected Behavior

When the crumb issuer is not configured in Jenkins, launching a enable fails without an error message.

### Current Behavior
.api().jobsApi().enable(null, "DTS");

### Context
   @Test
    public void loginTest() {
        String credentials = Base64Utils.encodeToString("admin:password".getBytes());
        logger.info("credentials :{}", credentials);
        boolean ret = J

[2018-10-12 10:01] cdancy commented on #36
@hcray is this the latest fix you added to your PR?

[2018-10-15 00:28] hcray commented on #36
I fix crumb issuer is configured. Jenkins 2.x is ok.

[2018-10-26 09:34] Shashank-Ramesh opened #37 "java.lang.NoSuchMethodError: com.google.common.collect.Maps.toMap while using latest jar"
Jenkins rest library throws the below error while using in a maven project.

14:54:51 FATAL: com.google.common.collect.Maps.toMap(Ljava/lang/Iterable;Lcom/google/common/base/Function;)Lcom/google/common/collect/ImmutableMap;
14:54:51 java.lang.NoSuchMethodError: com.google.common.collect.Maps.toMap(Ljava/lang/Iterable;Lcom/google/common/base/Function;)Lcom/google/common/collect/ImmutableMap;
14:54

[2018-10-26 10:50] cdancy commented on #37
@Shashank-Ramesh yeah it's a known issue in that a dependency of this library depends on a newer version of guava. Try using the `all` classifier for this library when specifying your deps and you should be good to go.

[2018-10-29 08:09] Shashank-Ramesh commented on #37
@cdancy : Thanks for your quick response. This worked :) I can close this ticket, but have few more questions which I can probably use this thread for.
1. On successful login to Jenkins server , is there a way to get some authentication token which I can use for further logins. I would definitely avoid send multiple login requests from REST api, if already logged in
2. I noticed an implementation

[2018-11-12 07:50] Shashank-Ramesh opened #38 "Some questions on usage of Jenkins-rest library"
Few questions on the usage of plugin :

1. On successful login to Jenkins server , is there a way to get some authentication token which I can use for further logins. I would definitely avoid send multiple login requests from REST api, if already logged in
2. I noticed an implementation for Statistics API, but this gives empty results. Am i missing something?
3. I would need details on Nodes . Str

[2018-11-16 07:45] Shashank-Ramesh opened #39 "com.cdancy.jenkins.rest.shaded.org.jclouds.rest.AuthorizationException on fetching BuildInfo"
We have a scenario where we trigger build and keep waiting until build ends. For this, we have written a poll mechanism which keep fetching BuildInfo every time, but this fails the first call itself throwing Auth exception error. What I dont understand is , credentials used are the same.
Am I missing something?

[2018-11-16 12:56] martinda commented on #39
Hi @Shashank-Ramesh Can you share the code? I remember seeing cases like that, but it was so few that I do not remember. Are you following the same code as in the [wiki example](https://raw.githubusercontent.com/wiki/cdancy/jenkins-rest/tracking-builds/RunningABuild.groovy)?

[2018-11-16 17:39] Shashank-Ramesh commented on #39
Hi @martinda , yes I am using similar approach . PFB the methods :

After Build with parameters call, Poll job status call is made. But for some reason Auth exception has become more frequent now
----------------------------------------------------------------------------------------------------------------
public IntegerResponse sendBuildWithParametersCall(JobsApi jobsApi, BuildListener listener,

[2018-11-19 15:31] cdancy commented on #37
For #1 you shouldn't need to worry about this as long as you're using the same create instance of this library.

For #2 can you provide a snippet of what you're doing?

For #3 I don't believe we've coded anything for querying the nodes but would be happy to do so. Can you point us to the REST Api documentation or maybe you'd like to send in a PR? This library is almost entirely community driven so

[2018-11-19 15:31] #37 closed

[2018-11-19 15:34] cdancy commented on #36
Lets close this for now, as it seems like folks are able to move forward, and re-open should the need arise.

[2018-11-19 15:34] #36 closed

[2018-12-04 10:15] peter527 opened #40 "com.google.gson.internal.bind.ReflectiveTypeAdapterFactory.<init>"
### Expected Behavior

### Current Behavior

[code]

### Context

### Steps to Reproduce (for bugs)

### Your Environment

I met some problems when i use it in a spring boot2.0 project

[2018-12-04 16:47] cdancy commented on #40
Try using the _all_ classifier.

This is a known issue with this library, and specifically jclouds, using an older version of gson.

[2018-12-05 17:39] cdancy commented on #40
Closing issue. Feel free to re-open should using the `all` classifier not work.

[2018-12-05 17:39] #40 closed

[2018-12-13 07:58] JianminWu opened #41 "lang.NoSuchMethodError: com.google.gson.internal.bind.ReflectiveTypeAdapterFactory.<init>(Lcom/google/gson/internal/ConstructorConstructor;Lcom/google/gson/FieldNamingStrategy;Lcom/google/gson/internal/Excluder;)V"
Hi. when I run the hello world.. It doesn't work
this is the error stack
Exception in thread "main" java.lang.NoSuchMethodError: com.google.gson.internal.bind.ReflectiveTypeAdapterFactory.<init>(Lcom/google/gson/internal/ConstructorConstructor;Lcom/google/gson/FieldNamingStrategy;Lcom/google/gson/internal/Excluder;)V
	at org.jclouds.json.internal.DeserializationConstructorAndReflectiveTypeAdapterF

[2018-12-13 23:10] martinda commented on #41
Hi @JianminWu Look at the solution for #40 , I think this is the same issue.

[2018-12-14 01:18] JianminWu commented on #41
Thanks .. This resolve my problem...

[2018-12-14 14:16] #41 closed

[2019-01-02 18:52] Dhivyaa21 opened #42 "Trigger parameterized job with null parameters"
### Expected Behavior
Trigger a build successfully for a parameterized job with no parameters using buildWithParameters API

### Current Behavior
buildWithParameters Api throws an exception for null or empty parameters in the method blow. I think we may have to allow null values for params and handle it in the BindMapToForm class.
https://github.com/cdancy/jenkins-rest/blob/359dd0461330e6f620caa99

[2019-01-02 18:56] cdancy commented on #42
@Dhivyaa21 so is the value of your key null or empty or potentially both? Have you tried using an empty list for the value to see if that works?

[2019-01-02 19:04] Dhivyaa21 commented on #42
My use case is to trigger a build with no parameters (say I want to use the default values of the parameters in the job config) for a parameterized job.  When I passed null (or an empty map) to the buildWithParameters API, It throws an exception as shown below.

https://github.com/cdancy/jenkins-rest/blob/359dd0461330e6f620caa9981550f3e4ba5ce5f2/src/main/java/com/cdancy/jenkins/rest/binders/BindMa

[2019-01-02 19:09] cdancy commented on #42
Gotcha. Can you just use [THIS](https://github.com/cdancy/jenkins-rest/blob/359dd0461330e6f620caa9981550f3e4ba5ce5f2/src/main/java/com/cdancy/jenkins/rest/features/JobsApi.java#L158) api call if you're not building with parameters? Does the job accept parameters?

[2019-01-02 19:14] Dhivyaa21 commented on #42
`build` API works only for non parameterized jobs. I tried using the build API and got back a HTTP 400.

[2019-01-02 19:19] cdancy commented on #42
Ok I gotcha. So you've got a parameterized build but just don't want to override any params. That makes sense and seems silly that we are not allowing for it. Care to send in a PR to fix this?

[2019-01-02 19:19] Dhivyaa21 commented on #42
Sure I can send a PR.

[2019-01-02 19:23] cdancy commented on #42
Thanks!

[2019-01-04 15:14] #42 closed

[2019-01-04 15:21] Dhivyaa21 commented on #42
@cdancy @martinda Is it possible to release this change?

[2019-01-04 15:47] cdancy commented on #42
@Dhivyaa21 can definitely put out a new point release just had one last minute comment on the PR itself. Does it feel weird that we can pass in a null map but fail on an empty map? Seems like both should be allowed.

[2019-01-04 16:48] Dhivyaa21 commented on #42
@cdancy - Yes. We missed it. I will send the changes in another pull-request.

[2019-01-04 19:06] cdancy commented on #42
@Dhivyaa21 version `0.0.16` has been released. Due to an oversight there will be no version `0.0.15` so apologies for any confusion in that regard.

[2019-01-08 13:21] iapplejohn opened #45 "Is it ok to support jdk 7?"
The systems are built based on jdk 7 in my company, it's not easy to upgrade to jdk 8, is it ok to release versions utilizing jdk 7?

[2019-01-08 20:58] cdancy commented on #45
@iapplejohn so JDK7 has been eol for quite sometime now and while I understand your problem (faced similar issue not too long ago here and it was a MASSIVE pain in the butt) releasing a jdk7 version of this plugin I don't believe is easily possible. The underlying libraries we depend on I believe require jdk8. If you want to try building this locally, and switch to using jdk7, and see if things wo

[2019-01-18 11:22] Shashank-Ramesh opened #46 "REST API calls getting cached on sub subsequent calls"
We have a scenario to switch to a different jenkins server if the one where the call was made is down.
Ex : REST API call is made to Jenkins master 1, Master 1 is down. Now we automatically switch to Master 2. The way we do it is making the call : JenkinsClient client = JenkinsClient.builder().endPoint(server).credentials(encodedCredentials).build() to fetch JenkinsClient object and get JobsApi Ob

[2019-01-18 15:31] cdancy commented on #46
Interesting ... can you paste a reproducible as close to your code block as possible? My hunch is that _maybe_ you have an environment variable or system property that is getting picked up?

[2019-01-18 16:44] cdancy opened #47 "Standardize on single value wrapper"
When an endpoint returns a single value (e.g. String or an Integer or something else) we wrap that in a IntegerResponse (or whatever is appropriate for the type). I believe we can do better by using a generic wrapper with types. Something like: `Primitive<String>` or `JValue<String>` or maybe `JPrimitive<String>`. Just throwing out some ideas but we should do something.

@martinda I know we've tal

[2019-01-18 16:46] cdancy opened #48 "Break out PR #35 into multiple smaller PR's"
User declined the PR but I think we should leverage that work and create more targeted PR's to tackle each endpoint.

[2019-01-18 16:46] cdancy commented on #45
Closing this issue. Feel free to re-open if you'd like to continue further conversation.

[2019-01-18 16:46] #45 closed

[2019-01-19 07:37] Shashank-Ramesh commented on #46
Hi Christhopher ,

We are just making the calls back to back, also what we noticed is the
values which are sent to JenkinsClient constructor is right. Only when the
call is made using JobsApi something is going wrong.

Thanks,

Shashank Ramesh

On Fri, Jan 18, 2019, 9:01 PM Christopher Dancy <notifications@github.com
wrote:

[2019-01-19 17:02] martinda commented on #48
I agree with breaking PR #35 into multiple smaller PRs. It will be easier to review.

[2019-01-19 17:05] martinda commented on #47
Interesting concept. What is the benefit?

[2019-01-21 05:08] Shashank-Ramesh commented on #46
public static void main(String[] args){
		AssignedWorker assignedWorker = 1; //Server is down

		String credentials = "UserId/Pwd";

		HttpUtility httpUtil = new HttpUtility();
		httpUtil.buildHttpUtilityTest(assignedWorker, credentials);

		IntegerResponse response = httpUtil.sendBuildWithParametersCallTest();

		httpUtil.getClient().close();

		assignedWorker = 2; //Server is up

		httpUtil = ne

[2019-01-21 06:55] S-Ranjana commented on #46
Hi, i am from the same team which is facing the issue being discussed.
An other observation made is that, the scenario seems to work fine when a successful call is made first.
For ex : Consider 3 calls to 3 different server,
1 - server is up -  api call is success on server 1
2 - server is down - call fails with appropriate error message
3 - server is up - api call is success on server 3

Whereas,

[2019-01-21 22:12] martinda commented on #46
@Shashank-Ramesh @S-Ranjana, are you able to boil it down to a command line groovy script with no extra dependencies (just two jenkins servers). It will make it much easier for us to reproduce. Even better would be to submit a PR with a test reproducing the problem. In its simplest form, it could be a [SystemApiLiveTest](https://github.com/cdancy/jenkins-rest/blob/master/src/test/java/com/cdancy/j

[2019-01-24 06:54] S-Ranjana commented on #46
Adding onto the previous comments, an other observation made is that, the problem is not restrticed when retriggering the api with a different endpoint server from the same jenkins build, but a new build as well.
That is, once the connection has failed from a jenkins job to an endpoint  server, even when the details are updated to point to a running server, the connection is not established from a

[2019-01-24 09:41] damian-t opened #50 "[Question] buildWithParameters functionality"
I would like to trigger a parametrized build using this library but somehow the parameters are not sent in the request. I have defined an authentication token in the job (trigger by `jenkinsServer/job/jobName/buildWithParameters?token=TOKEN`) and want to set two parameters to `param1=param1value` and `param2=param2value`.

Instead of sending the set parameters, the following code triggers the buil

[2019-01-24 11:45] cdancy commented on #50
When the request is sent over it's done as form params and not query params which is why you're not seeing the `token=` param getting passed. Is that where things are failing?

[2019-01-24 13:34] damian-t commented on #50
The job itself is not failing, it is just ignoring the parameters of the request. While debugging, I looked at the `GeneratedHttpRequest` object. Method is "POST", URI is: `jenkinsServer/job/jobName/buildWithParameters`, with  payload-content: `"param2=param2value&param1=param1value&token=TOKEN"`.
To me, this looks more like query params actually..
Moreover, I believe the _order_ of query params i

[2019-01-24 14:11] cdancy commented on #46
Just so @martinda comment does not get lost: the best way here would be to submit a PR with a live test that reproduces your problem (we have loads of live tests that you can use or just create your own). I was unable to reproduce here so I'm not sure what else could be going on. It _feels_ like your environment is somehow caching things but I'm not exactly sure how that would happen.

[2019-01-24 15:57] Shashank-Ramesh commented on #46
Hi ,

We gave a Java main program with no dependencies which just makes rest API
calls back to back. Should we convert this to a live test?

Thanks,

Shashank Ramesh

On Thu, Jan 24, 2019, 7:41 PM Christopher Dancy <notifications@github.com
wrote:

[2019-01-24 17:01] cdancy commented on #46
@Shashank-Ramesh yes please do so.

[2019-01-24 21:40] cdancy commented on #50
hmmm ... what happens when you leave out `token`?

[2019-01-24 21:55] cdancy commented on #47
I must be getting missed emails or something as I'm not getting notified of these updates. In either event the general idea would be to have a single wrapper around endpoints that return a single value. Instead of an `IntegerResponse` or `StringResponse` or `BooleanResponse` we'd just have a single `JValue` (or whatever we want to use) which is typed (e.g. JValue<String>) to include whatever it is

[2019-01-25 08:01] damian-t commented on #50
This does indeed work.. weird. What's the point then of configuring the token in the first place?

[2019-01-25 14:53] cdancy commented on #50
So `token` is meant to be passed in as a query parameter and not a form parameter. It's a way of authenticating but we already provide a means of doing that when you build the client so it shouldn't be necessary.
[code]

[2019-01-26 02:08] martinda commented on #47
@cdancy Sounds cool!

[2019-01-28 05:50] S-Ranjana commented on #46
Hi, Please check if the test case below helps

package systemtest.systemtest;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.junit.Test;

import com.cdancy.jenkins.rest.JenkinsClient;
import com.cdancy.jenkins.rest.domain.common.IntegerResponse;
import com.cdancy.jenkins.rest.features.JobsApi;
import com.google.common.collect.Lists;
import com.squareup.okhttp.m

[2019-02-15 09:10] S-Ranjana commented on #46
@martinda , please let us know if there was any lead on this issue. Also, if any further information is needed from us.

[2019-03-12 04:13] P01son6415 opened #51 "Feature: add a rename() to JobsApi"
### Context
I'm trying to add a new api to JobsApi, this api renames a job.

[2019-03-18 15:54] cdancy commented on #51
Close per #52

[2019-03-19 18:46] #51 closed

[2019-03-27 06:37] P01son6415 opened #53 "Feature: add quietDown and cancelQuietDown to SystemApi"

[2019-04-02 06:08] mingoooook opened #55 "How do I build jobs using jenkins oauth?"
I am using Github Oauth in jenkins.
How Can I build jobs in this case?

[2019-04-02 10:22] cdancy commented on #55
@mingoooook I don't understand what you're asking in this context. Maybe [THIS](https://github.com/jenkinsci/github-oauth-plugin) is what you're looking for?

[2019-04-02 11:28] cdancy commented on #53
Resolved with #54

[2019-04-02 11:28] #53 closed

[2019-04-03 02:03] #55 closed

[2019-04-03 02:05] mingoooook commented on #55
I solved it myselft.
That is credentials.
[code]

[2019-04-07 07:26] d3adp007 opened #57 "Grammatical Issues in README"
Hi sir,

I found some grammatical issues in documentation and thought of enhancing the same. Following, this I've had raised a [PR 56](https://github.com/cdancy/jenkins-rest/pull/56)
Kindly, let me know your thoughts.

Thanks!

[2019-04-18 10:36] solankivaibhav789 commented on #40
I have the same issue. I also add all classifier than also it does not work. please give me a proper solution.

[2019-04-18 11:08] cdancy commented on #40
Use the all classifier and make sure to exclude all transitive deps.

[2019-04-18 12:06] solankivaibhav789 commented on #40
`<dependency>
			<groupId>com.cdancy</groupId>
			<artifactId>jenkins-rest</artifactId>
			<version>0.0.18</version>
			<classifier>all</classifier>
		</dependency>`

If I use this then it will download the file as the following screenshot so It did not resolve the dependency problem.
![image](https://user-images.githubusercontent.com/20421401/56359827-53fb2200-6200-11e9-886a-8e31808760ae.png)

[2019-04-19 22:03] bhavik3jain opened #58 "[Question] Is it possible to get a list of commits for a specific branch in a repo?"
The title pretty much asks the question.

I am currently trying to create a script, but that requires that I get a list of commits from a repo, but for a specific branch. I tried many different approaches, but was unable to get anywhere. If anyone could give me a pointer it will be very much appreciated.

[2019-04-20 00:05] cdancy commented on #58
Did you mean to ask on this project `jenkins-rest` or on its sister project `bitbucket-rest`?

[2019-04-20 00:06] bhavik3jain commented on #58
I am so sorry, I meant to do it on bitbucket-rest. I will close this and reopen on the other project.

[2019-04-20 00:06] #58 closed

[2019-04-26 23:56] tshasc opened #59 "do we support authentication by header content?"
### Expected Behavior
My Jenkins server do authentication with header content, I wonder whether we support that

### Current Behavior
seems we just support authentication by username/passwd and property

[2019-04-27 10:43] cdancy commented on #59
What do you mean? All credentials get sent to the server through a header. Both basic with and bearer are supported. Did you have something else in mind?

[2019-04-27 11:49] martinda commented on #59
Actually, for Jenkins only Basic and Base64 encoded are supported by Jenkins itself. There is no Bearer token in Jenkins (there is in Bitbucket).

[2019-04-27 17:00] tshasc commented on #59
Sorry that I didn't say it clearly.
We have another lay of authentication on top of jenkins which need "TOKEN: *****" in the header, then how should I instantiate a Jenkins Client so that it can pass the verification

[2019-04-27 19:50] martinda commented on #59
Sounds like there is some kind of authentication layer between jenkins and the client. According to Stackoverflow, there is a way to [customize the Apache jclouds header](https://stackoverflow.com/questions/22853557/how-to-set-http-header-in-apache-jclouds). At this point I am not sure if this would require changes to the [JenkinsClient.java](https://github.com/cdancy/jenkins-rest/blob/master/src/

[2019-04-27 19:51] martinda commented on #59
You may also want to read [Authenticating scripted clients](https://wiki.jenkins.io/display/JENKINS/Authenticating+scripted+clients) on the Jenkins wiki.

[2019-04-28 11:19] cdancy commented on #59
Yeah I've never heard of a `TOKEN` header unless there is some misunderstanding on your end. It may be a custom auth layer as martin noted.

[2019-04-28 17:47] tshasc commented on #59
I know how to use httpClient for my request for sure.
But I wonder whether jenkins-rest can support such kind of scenarios?

TOKEN here is just an example which means there is a custom authentication layer which
need something inside the request header

[2019-04-28 20:21] cdancy commented on #59
we could certainly wire something up for sure. maybe a 1-to-1 mapping of header to value but it would be very basic and couldn't support anything more than that.

[2019-04-28 23:55] tshasc commented on #59
if u can provide the function to hide a header name/header value mapping in http request when using your client API then it should work for me.
I wish the http request can 1) pass our internal authentication with the content in the header
                                              2) talk to jenkins server which can do basic jenkins access

[2019-05-03 12:48] choweiyuan opened #60 "Expose Pipeline REST API"
### Expected Behavior

I'd like to poll my pipeline's stages status rather than overall build status. The API is here
https://github.com/jenkinsci/pipeline-stage-view-plugin/tree/master/rest-api
more specifically
https://github.com/jenkinsci/pipeline-stage-view-plugin/tree/master/rest-api#get-jobjob-namerun-idwfapidescribe

### Current Behavior

This API is currently not available in this library

[2019-05-07 13:53] cdancy commented on #60
@choweiyuan just getting around to this now as I was at Dockercon last week and still catching up on things. It indeed would be great to have this. Care to send in a PR to get started on this work? Think it would be a great addition.

[2019-05-20 03:38] jiotiG commented on #40
For Spring Boot 2.0 I was facing the same exception, excluding the transitive dependencies excluded everything which was important so nothing was working.
I had to pin the gson to an older version to fix
`      force 'com.google.code.gson:gson:2.5'      `

[2019-06-03 06:55] liuzhi-vip opened #61 "buildWithParameters usage"
How do I add file parameters

[2019-06-06 00:51] isker opened #62 "JenkinsFallbacks#getErrors NPEs on message from ForbiddenException"
When my bearer auth failed, a ForbiddenException was thrown with the message:
[code]

JenkinsFallbacks attempts to parse this message at https://github.com/cdancy/jenkins-rest/blob/b171a7ceac9341fddd41af2121280c99d2c883ae/src/main/java/com/cdancy/jenkins/rest/fallbacks/JenkinsFallbacks.java#L155-L163
The `message` var ends up being null and is not marked as `@Nullable` on `Error`, so AutoValue thr

[2019-06-06 14:21] isker commented on #50
@cdancy I ran into this problem myself in #62.  I don't think either of the forms of authentication on `JenkinsClient.Builder` are substitutes for the `token` query parameter.  The query parameter is a per-job authentication mechanism, whereas the Bearer/Basic auth mechanisms on JenkinsClient are for global access.  You can't use the per-job token in either of these cases.

See examples on https:/

[2019-06-07 15:44] cdancy commented on #61
What exactly are you trying to do?

[2019-06-07 15:45] cdancy commented on #62
@isker this should be an easy fix. Care to send in a PR?

[2019-06-07 15:46] cdancy commented on #46
Closing this issue as there hasn't been any active conversation in a few months. Feel free to re-open if necessary.

[2019-06-07 15:46] #46 closed

[2019-06-07 15:47] cdancy commented on #39
Closing this issue as there hasn't been any convo for quite some time. Feel free to re-open if necessary.

[2019-06-07 15:47] #39 closed

[2019-06-07 15:47] #57 closed

[2019-06-07 15:49] cdancy commented on #59
@tshasc would you be interested in sending in a PR for this? We could expose an optional `headers(String, String)` parameter on the client builder that we would then in turn pass along to all invocations. That should do the trick and allow folks to supply whatever they need.

[2019-06-08 11:37] martinda commented on #62
@isker What do you mean by "bearer auth"? Do you mean the Jenkins API Token?

[2019-06-08 14:52] isker commented on #62
@martinda https://github.com/cdancy/jenkins-rest/blob/b171a7ceac9341fddd41af2121280c99d2c883ae/src/main/java/com/cdancy/jenkins/rest/JenkinsAuthentication.java#L78-L88

In related news, as I commented on https://github.com/cdancy/jenkins-rest/issues/50#issuecomment-499515092, there seems to be some conflicting overloading of the word `token` between this Java API and the `token` query parameter on

[2019-06-20 21:24] #62 closed

[2019-06-26 03:58] liuzhi-vip commented on #61
buildWithParameters
How does this method upload a JPG file or other type of file

[2019-06-27 01:59] cdancy commented on #61
In a jenkins build you can specify parameters to build a given job. This allows you to start that job and specify the parameters you want to pass in. If you have a job which takes parameters that are pointed at a given JPG then you would pass those same parameters here.

[2019-06-27 02:10] liuzhi-vip commented on #61
Thank you very much for your answer

[2019-06-27 02:10] #61 closed

[2019-08-07 16:16] choweiyuan opened #65 "Travis having issue with OracleJDK8"
Build pretty much failing straightaway, see :
https://travis-ci.org/choweiyuan/jenkins-rest/builds/568944435

The command "~/bin/install-jdk.sh --target "/home/travis/oraclejdk8" --workspace "/home/travis/.cache/install-jdk" --feature "8" --license "BCL"" failed and exited with 3 during .

Workaround seems to be to use openjdk8
https://travis-ci.community/t/error-installing-oraclejdk8-expected-fea

[2019-08-07 16:29] cdancy commented on #65
Closing via #66 being merged

[2019-08-07 16:29] #65 closed

[2019-10-07 08:48] tbouffard opened #67 "POST API calls '403 No valid crumb was included in the request'"
### Expected Behavior

Use the jenkins-rest lib with user/password credentials to perform GET or POST underlying Rest API calls

### Current Behavior

All POST requests fail when running Jenkins 2.176.2+/2.186+ with error: `HTTP/1.1 403 No valid crumb was included in the request`

### Context

This issue only occurs when running Jenkins 2.176.2+/2.186+ and seems related to security settings change

[2019-10-07 08:51] tbouffard commented on #67
@cdancy If you reproduce the problem and consider this as valid, I can start working on a PR

[2019-10-07 09:45] choweiyuan commented on #67
@tbouffard I faced the same issue, workaround it by using user/apitoken instead. See if that works for you?

[2019-10-07 12:20] cdancy commented on #67
@tbouffard yeah send in a PR if you have the time as the "valid crumb" setting should be handled behind the scenes in this client without the user having to specify anything.

And as @choweiyuan noted: you can always use a token but this is still a new bug of sorts.

[2019-10-07 13:18] tbouffard commented on #67
@choweiyuan yep, I am aware of this and this works pretty well.
My main concern is that the lib stops working on Jenkins upgrade, and as the example provided in the README uses user/password as credentials, it is disturbing as an end-user point of view.
In addition, the Jenkins official documentation advertises the jenkins-rest lib a lot, so it is better to have it to work out of the box 😃
See
- h

[2019-10-07 21:11] choweiyuan opened #68 "Bump Google Auto"
Ran owasp dependency check, found 2 vulnerabilities
https://jeremylong.github.io/DependencyCheck/dependency-check-gradle/index.html

Bumping google auto should re-mediate these 2 vulnerabilites

### Expected Behavior
Dependency used shouldn't have any vulnerabilities

### Current Behavior
Found 2 vulnerabilities around Google Guava
Dependency | Vulnerability IDs | Package | Highest Severity | CVE 

[2019-10-08 13:25] cdancy commented on #68
Closed as PR has been merged.

[2019-10-08 13:25] #68 closed

[2019-10-08 13:25] cdancy commented on #60
Close as PR has been merged.

[2019-10-08 13:25] #60 closed

[2019-10-08 13:32] cdancy commented on #68
Thanks for reporting and the PR. New release has just been kicked with this change.

[2019-10-12 05:43] kumarshorav11 opened #71 "Not able to download jar using maven dependency and getting error No class found"
Hi,
I am trying to use this library. For this, I have included dependency in my maven project.
[code]
However, I was getting missing artifact error. So I just saw in .m2 folder and found there is no jar.
Only 4 other files were there. So I downloaded JAR manually and added in class path.
Now, I added basic code that is given in READ.md.
Then I am getting following error :
[code]

[2019-10-15 07:57] tbouffard commented on #71
@kumarshorav11 can you provide the maven log when you get missing artifact error please?
Remember that `jenkins-rest` is not available on Maven Central but on JCenter as described in the README. See also: https://bintray.com/cdancy/java-libraries/jenkins-rest
This means you have to addapt your local Maven settings.xml or add the jcenter repository to your pom, or configure your Maven Repository Ma

[2019-10-16 20:21] cdancy commented on #71
Hmmm ... you shouldn't _need_ to add dependencies as that should be taken care of for you. In either event I would definitely try to resolve things from bintray in the old way and see where that gets you.

[2019-10-25 09:10] tbouffard opened #72 "[Question] jenkins instance requirements for integration tests"
When implementing #70, I had some trouble having a Jenkins instance correctly configured to make the integration tests pass (even prior modifying any code :smile:)

After some iterations, I have found the following configuration and would like confirmation about my guesses. I will propose a doc PR when this will be clarified.

Jenkins instance requirements
- a running instance accessible on http:/

[2019-10-25 14:09] cdancy commented on #72
That all looks fine. I usually just stand up a docker instance of the latest jenkins and go from there.

[2019-10-29 20:22] daverod24 commented on #67
Good estimates

I have this problem activating CSRF Protection in the latest LTS version
Centos 7.7
Jenkins version. 2,190.1 (installed by yum, not in container)
 
I get the crumb
[code]
and then I pass it with the operation that I want to perform
[code]
this is the way out
[code]

[2019-10-30 16:51] tbouffard commented on #72
Perfect
About Docker, I have done a poc to run integration tests with a Jenkins Docker container on Travis CI builds, see https://github.com/tbouffard/jenkins-rest/pull/1
This is a basic setup relying on docker cli commands.

If you have any interest on it, I can provide a PR quickly.
In addition, for a better build integration, I could also work to make the gradle build optionally starts and stop

[2019-10-31 09:21] tbouffard commented on #67
@d3adp007 when retrieving the crumb, you have to also retrieve the JSESSIONID cookie and pass it to subsquent API call (see #70)

[2019-10-31 16:31] cdancy commented on #72
@tbouffard that looks pretty good actually. Is it running successfully? I would def be interested in a PR.

[2019-10-31 17:16] tbouffard commented on #72
Yes the build of the poc is successfull, see https://travis-ci.org/tbouffard/jenkins-rest/builds/598223693
I will try to manage a PR on next week
[code]

[2019-11-01 16:39] thiagoalves commented on #67
After a couple of hours of struggling, I was able to make it work with `curl`:

[code]

[2019-11-20 04:19] ktjooho opened #73 "[Question] How to stop build job using rest ?"
I haven't found any api to stop build job.

There is no related method to stop it in JobsApi interface.

I would like to know whether it is intended.

Thank you.

[2019-11-20 17:22] cdancy commented on #73
@ktjooho it would appear no. I could have sworn I/someone-from-the-community coded this up at some point but I guess not. Should be easy enough to do. We do have the [QueueAPI](https://github.com/cdancy/jenkins-rest/blob/master/src/main/java/com/cdancy/jenkins/rest/features/QueueApi.java) which you can use to stop a job that has NOT been queued yet.

In either event it should be easy enough to do

[2019-11-25 19:10] ProvenirJHansen commented on #46
We've run into this problem as well, though I haven't been able to reproduce the specific exception in testing.

I think it is caused by `JenkinsAuthenticationFilter.crumbPair` being static.  This means that the `crumbPair` is shared by all clients in the same JVM, regardless of which Jenkins server is being connected to.  In our case, we have a central service that connects to many different Jenk

[2019-11-26 03:06] Shashank-Ramesh commented on #46
Okie, thanks for the information. For us, requirement was to connect to a
different Jenkins server if one goes down. And that's still open, so if
anything is implemented on this regard please let me know.

On Tue, Nov 26, 2019, 12:40 AM Josh H <notifications@github.com> wrote:

[2019-12-02 16:02] cdancy commented on #46
@ProvenirJHansen care to send in a PR for the fix? The static'ness of that object _shouldn't_ be necessary and might be an easy fix either way.

[2019-12-04 09:25] ktjooho commented on #73
I tried to use QueueAPI but failed in build stage.
I wanted to abort a job during build stage.
In the end, I resolved this issue using raw http to kill(not abort) the job request call using general http client library like RestTemplate.

[2019-12-04 09:25] #73 closed

[2019-12-12 18:28] #72 closed

[2019-12-12 20:05] liptga opened #77 "Artifact.displayPath can be null"
### Expected Behavior
I expect if jenkins sends an artifact without displaypath, it works

### Current Behavior
I get a NullPointerException from the generated AutoValue class

### Context
I was connecting to a jenkins instance with 2.7xx version (i do not remember exactly), and when I tried to fetch information about builds, it failed.

### Steps to Reproduce (for bugs)
Without such a job it woul

[2019-12-12 20:57] cdancy commented on #77
Closed via #78

[2019-12-12 20:57] #77 closed

[2019-12-16 16:49] #67 closed

[2020-01-15 10:51] shubhashi88 commented on #71
Hi all, Same issue I am getting while running the normal java application in my project.
Exception in thread "main" java.lang.NoClassDefFoundError: org/jclouds/apis/ApiMetadata
Caused by: java.lang.ClassNotFoundException: org.jclouds.apis.ApiMetadata
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:581)
	at java.base/jdk.internal.loader.ClassLoaders$AppClassLo

[2020-01-16 18:27] cdancy commented on #71
@shubhashi88 are you using the `all` classifier? If so you may be on to something as it looks like the latest release does not have the relevant jclouds classes which is odd. Poking around now. However ... if you're using the standard GAV coordinates the jclouds dependencies should be pulled onto your classpath unless you're excluding them for some reason.

[2020-01-16 18:42] cdancy commented on #71
@shubhashi88 I lied ... they are in fact in place just not in the spot mentioned by your comment. Do you have other version of jclouds on your classpath? Can you provide a reproducible snippet? Just gave things a go here and all worked as expected.

[2020-01-17 10:29] choweiyuan opened #79 "Listing Jenkins Jobs (within a folder)"
### Expected Behavior
I'd like to use an API to list me jobs that are available within a folder (or root folder).

### Current Behavior
I can't see any API within Jenkins-rest that supports this behaviour

### Context
The use case is to allow user to select job based on the list of available jobs (whether it's inside a folder or not), rather than knowing the job name beforehand.

Sample API URL:
{

[2020-01-17 14:06] shubhashi88 commented on #71
@cdancy I have tried with jenkins-rest and version 12  and  with the below dependency in pom.xml
<dependency>
			<groupId>com.cdancy</groupId>
			<artifactId>jenkins-rest</artifactId>
			<version>0.0.12</version>
		</dependency>
and so while building the workspace I got below error
Could not resolve dependencies for project test:jar:1.0-SNAPSHOT: Could not find artifact com.cdancy:jenkins-rest:jar

[2020-01-17 14:33] cdancy commented on #71
@shubhashi88 I personally do NOT publish this jar to maven ... I ONLY publish it to bintray. So if you're getting something from maven that might be your first clue. As far as the single jar is concerned: that won't work on its own as you **need** all the other jclouds dependencies. The only way you can get around this is by downloading the `-all` version which has all dependencies baked in ... OR

[2020-01-17 14:52] cdancy commented on #79
@choweiyuan did you want to send in a PR for this? In the past I've purposefully shied away from doing this as the API itself returns raw json which in itself is extremely complicated instead of a more targeted API with very specific endpoints. However we can give something a go and try to just target this very specific use-case if you're willing to put something together.

[2020-01-17 15:05] tbouffard commented on #71
@shubhashi88 according to your maven logs, maven is unable to find the lib, probably because your local maven installation is not aware of the JCenter repository (or you use a corporate repository manager not aware of it)

Please add the JCenter repository to your pom.xml or local settings.xml with something like in the following
Resources: https://maven.apache.org/guides/introduction/introduction

[2020-01-17 15:09] choweiyuan commented on #79
I see, thanks for your explanation. I'll give it a go

[2020-01-20 09:59] shubhashi88 commented on #71
@tbouffard  : -  I have tried with adding the jcenter repository in POM but again it is unable to install the dependency. It is again throwing error.

![image](https://user-images.githubusercontent.com/35379011/72717210-9ab7e700-3b99-11ea-9a7f-eb0fc7146e43.png)

[2020-01-20 10:43] tbouffard commented on #71
@shubhashi88
according to the maven error log, the groupId of the jenkins-rest dependency seems wrong: you are using `jenkins-rest` and the README states to use `com.cdancy`
I suggest you to declare the jenkins-rest dependency in your pom.xml file as in the following
[code]

[2020-01-20 11:05] choweiyuan opened #80 "Can't find Nullable"
### Expected Behavior

### Current Behavior
Might be a developer thing, I can't run tests locally without javax.annotation.Nullable

### Context

### Steps to Reproduce (for bugs)
#77 's fix Artifact.java seems to be using
`import javax.annotation.Nullable;
`

![image](https://user-images.githubusercontent.com/4201614/72721716-9d541580-3b74-11ea-8362-642d26306f12.png)

which probably doesn't exist

[2020-01-21 00:26] martinda commented on #80
@choweiyuan Try building from the command line: `./gradlew build`. Also check your Java version.

[2020-01-21 10:02] choweiyuan commented on #80
Okay that worked. But is that the right package to be used for `Nullable`
If you're fine with `javax.annotation.Nullable` rather than `org.jclouds.javax.annotation.Nullable` I'm happy to close this

[2020-01-21 19:30] cdancy commented on #80
@choweiyuan to side-step these problems we _should_ use the jclouds version as newer releases of the JDK have this in a separate artifact. We could search through our code and remove/replace if someone is up for it. Any takers? :)

[2020-01-27 21:09] blajoie55 commented on #79
+1 for this feature. My company is switching from Bamboo to Jenkins. We have a handful of java and groovy apps that rely on hitting REST api to get list of pipeline jobs, their current latest build status for each branch of the pipeline, etc. When researching how to use Jenkins REST api I found this github project, but unfortunately it's missing some very key features for us, such as given a folde

[2020-01-27 21:35] cdancy commented on #79
@choweiyuan @blajoie55 `v0.0.23` has been released with this change. Please kick the tires and let me know how things go.

And special thanks to @choweiyuan for knocking this out!

[2020-01-27 21:35] #79 closed

[2020-01-28 16:47] blajoie55 opened #82 "JobApi.jobInfo doesn't work with folder paths that have spaces"
When calling jobInfo on the JobApi and passing in a folder that has spaces in it, the method always returns null. It should return the JobInfo object

Here's some code demonstrating the issue I'm experiencing:

`JenkinsClient jenkinsClient = JenkinsClient.builder()
.endPoint("https://jenkins.vestmarkeng.com")
.credentials("${jenkinsUser}:${jenkinsPass}")
.build();

println jenkinsClient.api().jobs

[2020-01-28 17:02] cdancy commented on #82
@blajoie55 interesting. There must be a bug somewhere. A different path parser is in use and so probably one works whereas the other is buggy. Care to take a look into things and/or send in a PR to fix things? Maybe consolidate to just using 1?

[2020-01-28 18:51] blajoie55 commented on #40
I got around this by using the classifier `all` in my build.gradle like so: `compile "com.cdancy:jenkins-rest:0.0.23:all"`

[2020-01-29 16:27] blajoie55 commented on #82
@cdancy whenever time permits on my end, I'll set up a dev env for jenkins-rest to step debug through the jenkins-rest src code in eclipse and find the cause and come up with a solutikon

[2020-01-30 16:06] choweiyuan opened #83 "Use Dependabot to automate dependency fixes"
### Current Behavior
Currently we have to update dependency manually if need be (for example CVE/OWASP security issue arises for one of the dependencies)

### Context
https://dependabot.com/#features probably good practice to automate and giving confidence to user that all the dependencies are up to date/secure.

[2020-01-30 16:20] cdancy commented on #83
@choweiyuan is this easy enough to wire up? Haven't played around with this integration yet

[2020-01-30 18:17] choweiyuan commented on #83
Don't know, have to test it out and get back to you on that!

[2020-01-31 02:54] martinda commented on #83
Hi! If you want to learn more about dependabot, we had a recent Jenkins meetup where it was presented, it's a bit jenkins specific but I thought it was useful for me to learn about it. They also talk about the gotchas. The [recording](https://www.youtube.com/watch?v=RXIJpjYlECQ) and [slides](https://drive.google.com/file/d/1YbuiqyP1McNuo-Vc3wjpIBOXE3RUTZ-R/view) have been published.

[2020-02-10 10:54] maniankara commented on #67
Or, if you do not want to pass the crumb as header and for deleting a build $BUILD_NUMBER for a job $JOB_NAME,
`curl -XPOST -I --cookie $COOKIE_JAR $JENKINS_URL/job/$JOB_NAME/$BUILD_NUMBER/doDelete?${JENKINS_CRUMB/:/=} -u $JENKINS_USER:$JENKINS_TOKEN -v`

[2020-02-10 18:44] choweiyuan opened #85 "Add Color attribute to "Jobs" object"
I think you have a point that we could add "color" to the "Jobs" object, so that I can get an overview of the status of pipeline/Job when I query JobList, without making another API call.
There's also a "disabled" for disabled jobs
      "color": "disabled"

Could be another PR I suppose?

_Originally posted by @choweiyuan in https://github.com/cdancy/jenkins-rest/pull/81_

[2020-02-10 20:31] blajoie55 commented on #82
Got some time to look more into this. No bug here. User error. I didn't realize my company only selected a handful of release branches (not all release branches) for the pipeline I was trying to fetch, i.e. the pipeline that had spaces in the item name

[2020-02-10 20:31] #82 closed

[2020-02-10 21:39] #80 closed

[2020-02-11 16:04] #85 closed

[2020-03-27 16:43] choweiyuan commented on #83
Tried it fairly quickly, took less than 2 minutes to allow Dependabot to have access to your repos

1. go to dependabot.com
2. login with your Github account, then choose your repos of your interests.
3. Settings involved
![Dependabot](https://user-images.githubusercontent.com/4201614/77779198-0ad76300-704a-11ea-8c10-16b70a6c1d7e.PNG)

Example PRs generated: https://github.com/choweiyuan/bcexample

[2020-03-27 17:22] choweiyuan opened #87 "Ability to Restart from Stage"
### Expected Behavior
https://jenkins.io/doc/book/pipeline/running-pipelines/#restart-from-a-stage
I'd like to programmatic be able to restart from stage

GET: https://url/job/{folderName}/job/{jobName}/{jobNumber}/restart/api/json?pretty=true
will list restartable stage

[code]

POST: https://url/job/{folderName}/job/{jobName}/{jobNumber}/restart/restart
API to restart from stage
[code]

### Curr

[2020-04-15 14:59] satishpatro44 commented on #67
I faced this issue where disable/enable project by non admin user. or continuous disable/ enable by admin user

[2020-04-19 18:19] MimoJSRepo commented on #67
is there any solutiion for this '403 No valid crumb was included in the request', I set up log in in Jenkins using Okta and SAML but I am getting this message everytime  I login  :(

I was trying for many days, and no solutions seem to be working

[2020-04-19 20:56] tbouffard commented on #67
@satishpatro44 @MimoJSRepo are you facing an issue when you are using the `jenkins-rest` library or when you are using something else?
For `jenkins-rest`, this is fixed as of version `0.0.22`, see https://github.com/cdancy/jenkins-rest/blob/master/RELEASE_NOTES.md#version-0022-december-16-2019

[2020-04-20 09:41] SergioBarbero commented on #46
Hi, I run into this issue. Is this going to be fixed?

[2020-04-21 05:15] satishpatro44 commented on #67
my mistake. It's not jenkins-rest. Sorry.

[2020-04-21 12:03] tbouffard commented on #67
Yes, the Jenkins REST API is part of official Jenkins, see https://wiki.jenkins.io/display/JENKINS/Remote+access+API
`jenkins-rest` is a java client implementation of the Jenkins REST API

[2020-04-21 19:01] cdancy commented on #46
Kicking a new point release with the fix now...

[2020-04-21 19:08] cdancy commented on #46
`0.0.27` has been released.

[2020-04-21 19:13] cdancy commented on #87
@choweiyuan don't have time at the moment but feel free to send in a PR and I can review and merge rather quickly. Shouldn't be bad to knock out.

[2020-04-21 19:16] cdancy commented on #83
@choweiyuan just enabled .... lets see what happens...

[2020-04-22 01:40] martinda commented on #67
@tbouffard No, jenkins-rest is NOT part of official Jenkins. I am the person who put the link there along with other links to external REST API libraries. To be part of Jenkins, this project would have to be hosted under the https://github.com/jenkinsci organization.

[2020-04-22 05:08] tbouffard commented on #67
@martinda that is exactly what I had in mind, but probably, I wasn't clear enough  :wink:, so let me rephrase

Jenkins officially provides REST API for machine interactions, see https://wiki.jenkins.io/display/JENKINS/Remote+access+API

`jenkins-rest` is a java **client** for working with Jenkins REST API
Other Jenkins REST API java clients exist, for instance [jenkinsci java-client-api](https://g

[2020-04-23 18:03] cdancy commented on #71
Closing issue. Feel free to re-open if you'd like to discuss further.

[2020-04-23 18:03] #71 closed

[2020-04-23 18:04] cdancy commented on #59
Closing this ISSUE as it hasn't gotten any further response. Feel free to re-open if you'd like to continue the convo.

[2020-04-23 18:04] #59 closed

[2020-04-23 18:05] cdancy commented on #83
@choweiyuan I've applied dependabot to this project as well as my `artifactory-rest` and `bitbucket-rest` projects. Thanks for this as it's very useful!

[2020-04-23 18:05] #83 closed

[2020-05-18 17:07] l3ender commented on #79
Thanks for this addition!

Just a note for anyone else who is looking. You can list all jobs by passing an empty String to the new method:
[code]

Future enhancement could be to have the input for `jobList` method to be optional and to default to empty string if `null` input.

[2020-05-18 17:43] cdancy commented on #79
@l3ender feel free to send in a PR with the proposed change/fix.

[2020-05-19 03:39] hudan15 opened #105 "could not find class AutoValue_Crumb and AutoValue_SystemInfo"
private static Crumb create(final String value, final String sessionIdCookie,
            final List<Error> errors) {

        return new AutoValue_Crumb(JenkinsUtils.nullToEmpty(errors), value,
                sessionIdCookie);
    }

    @SerializedNames({ "hudsonVersion", "jenkinsVersion", "jenkinsSession",
        "instanceIdentity", "sshEndpoint", "server", "errors" })
    public static Syste

[2020-05-19 04:20] hudan15 commented on #105
when I bulid this project,all class start with "AutoValue" couldn't find

[2020-05-19 14:48] cdancy commented on #105
@hudan15 how are you building the project? When I run `./gradlew build` all works fine for me. Are you building through an IDE or some other non-standard way?

[2020-05-19 15:22] cdancy commented on #105
@hudan15 also just updated gradle and some of the project dependent libraries, and how things are defined, so that _may_ help you along. I'd pull the latest and greatest code and give things another go.

[2020-05-21 02:23] hudan15 commented on #105
I  built this project through Intellij IDEA .I reimport this project and use mirror to download dependencies ,it works.Thanks for your answer.

[2020-05-21 02:23] #105 closed

[2020-05-26 16:02] Conky5 commented on #46
Thanks @cdancy, it appears to work in my testing.

[2020-06-04 07:35] hudan15 opened #106 "how can I add a new api interface to access other endpoint"
pipeline-model-definition is a plugin to convert to/from JSON/Groovy and validating both.The endpoint is  jenkins-url/pipeline-model-converter/toJson.I want to access this endpoint through api,but I had some problems.The code I write like this:

    @Named("file:toJson")
    @Path("pipeline-model-converter/toJson")
    @Fallback(Fallbacks.NullOnNotFoundOr404.class)
    @Produces(MediaType.MULTIPAR

[2020-06-04 07:52] hudan15 commented on #106
I solved this problem by use @QueryParam Annotation。

[2020-06-04 07:52] #106 closed

[2020-06-09 07:45] fomin-zhu opened #107 "How to stop building"

[2020-06-09 09:50] hudan15 opened #108 "How can I add a ssh server through api in simple way?"
I need to  use api to add a ssh server.Jenkins config ssh server in global configuration.There are too many data in request.Is there any。Is there any way to just send ssh server's information to add a ssh server

[2020-06-11 07:23] hudan15 commented on #108
Thanks for your reply.I found a way to solve my problem. By viewing the source code of ssh plugin I knew how to save configurations,so I add a endopoint which call save function of this plugin.It works for me.

[2020-06-11 07:23] #108 closed

[2020-06-16 15:34] ismailmayat opened #110 "Remote connection closed error when making any calls"
### Expected Behavior
Tried to make calls to build and Get however get following error:

I tried to setup TLS and also tried to ignore any SSL errors but still get same error.

`ServicePointManager.SecurityProtocol = SecurityProtocolType.Ssl3 | SecurityProtocolType.Tls12;
            ServicePointManager.ServerCertificateValidationCallback +=  (sender, certificate, chain, sslPolicyErrors) => true;`

[2020-06-16 15:39] cdancy commented on #110
hmmm ... @ismailmayat this is for the `jenkins-rest` java client library. Are you sure this is the right place to be asking that question? Maybe just looking for help?

[2020-06-16 15:42] ismailmayat commented on #110
oops sorry wrong project my bad

[2020-06-16 15:42] #110 closed

[2020-06-19 04:22] #107 closed

[2020-07-23 06:34] hudan15 opened #114 "@Path doesn't support string "{optionalFolderPath}job/{name}/api/xml?tree=builds[queueId,number,result]&xpath=//build[queueId={queueId}]""
I want to get job's build number through queueId.When I send a request like http://jenkins-server/job/test/api/xml?tree=builds[queueId,number,result]&xpath=//build[queueId=52]  on postman,I can get what I need .So I add a api to get result by code.But it doesn't work.I guess it might be some character in the path influence the result.

 The code below works
    @Named("jobs:getBuildNumberByQueueId

[2020-07-27 18:53] cdancy commented on #114
@hudan15 can you recreate on one of the `integTests` in this project? Also ... what is the exception/stacktrace you see?

[2020-07-28 07:32] hudan15 commented on #114
Thanks for your reply。Here is my test case:
`    public void testGetBuildNumberByQueueId() throws IOException, InterruptedException {
        MockWebServer server = mockWebServer();
        String body = payloadFromResource("/build-xml-tree.xml");

        server.enqueue(new MockResponse().setBody(body).setResponseCode(200));
        JenkinsApi jenkinsApi = api(server.getUrl("/"));
        JobsApi

[2020-08-27 12:18] sorend opened #119 "jclouds.proxy-host not working"
### Expected Behavior

I was expecting that I could use proxy settings of jclouds, but there seems to be some problem with dependencies. Looks to me like the use of guice pulls versions of guice and guava that are incompatible with jclouds, and especially in the case of accessing Jenkins over http proxy.

### Current Behavior

[code]

Returns:
`SystemInfo{errors=[Error{context=null, message=Unexpe

[2020-08-27 12:31] cdancy commented on #119
@sorend intersting ... have you seen this pop elsewhere or **only** when using the proxy property?

[2020-08-27 14:01] sorend commented on #119
I have not used the library extensively yet, but haven't run into other problems as of now (when using the library with a Jenkins that is not behind proxy)

It appears it might've been fixed in Jclouds:
https://github.com/apache/jclouds/commit/62767a14610fc1c97c440dbd5ee0f02b276a1069#diff-01bcf54846bea2a9e8cd661cde19f0fd

But, as far as I can see there is no release after the fix.

BR,
Søren

[2020-08-27 14:14] cdancy commented on #119
@sorend commented on the [relevant PR](https://github.com/apache/jclouds/pull/75). Hopefully they can kick a release and once they do it will be very simple to do the same here. Lets see what they say. Those guys are usually pretty good.

[2020-10-12 14:40] NoTranslation opened #123 "Add View support"
The methods in JobApi do not support views and nested views(Nested View Plugin)

### Expected Behavior
An extra paramater simillar to optionalFolderPath in the methods of JobApi that allows for the View path to passed in and parsed correctly

### Current Behavior
Setting the Jenkins Client endpoint directly to the Url + Viewpath works for some methods like buildInfo but not for other methods like

[2020-10-15 09:35] NoTranslation commented on #123
Should I overload the api methods to add the extra parameters to insure backwards compatibility or add the param into the current method signatures

[2020-10-15 13:46] cdancy commented on #123
@NoTranslation I would just add the param in and we can bump to the relevant version to denote a break in api.

[2020-11-04 17:53] ralfgrossklaus opened #127 "Add support for ChangeSet's in BuildInfo"
Hello!

We have the use case to access some of the information within the ChangeSets of a Build. For example Commiter information or Revisions that where included in this build. As the Jenkins REST API provides means to access this information, it would be nice to access it with this API too. So I would suggest extending the BuildInfo with the ChangeSet properties.

Regards, Ralf

PS: Sorry for fi

[2020-11-05 15:28] cdancy commented on #127
@ralfgrossklaus no apologies necessary ... did you want to open a PR for this? That would be your quickest path to getting things merged.

[2020-11-05 15:33] ralfgrossklaus commented on #127
Thanks for the quick answer. I reopened the PR

[2020-12-29 13:00] SperlingUnion opened #134 "Guava Google Core outdated"
The Guava dependency from JClouds Components Core need an Update. When i use your dependency i get an NoSuchMethodError. The error appears after i wrote this:
        JenkinsClient client = JenkinsClient.builder().build();
        IntegerResponse queueID = client.api().jobsApi().build(null,"Build");

### Expected Behavior
When i want run this code:
        JenkinsClient client = JenkinsClient.buil

[2021-01-01 21:57] martinda commented on #134
Hello @SperlingUnion can you provide which java version you are using please? If you could push a project reproducing the issue to Github, it would help considerably in reproducing the error.

I tried to reproduce the problem with the following code:
[code]

I use: Groovy Version: 3.0.5 JVM: 11.0.9.1 Vendor: AdoptOpenJDK OS: Linux

And it fails as expected, but I do not get the "java.lang.NoSuchMe

[2021-01-04 09:00] SperlingUnion commented on #134
Hello @martinda

thank you very much for your answer. Also a Happy new Year.

I do not use Groovy in my Project. But i use Java JVM: 1.8 Oracle JDK on Windows.

Reproduce:
I set my JVM to OpenJDK11 but still get the same error. Do you think its a problem with the Java Version?
Because the package in maven could be to old. But its strange in your test enviremont its working.

[2021-01-09 01:58] lucacelenza commented on #134
Hello @SperlingUnion ,
I was able to resolve adding the maven dependency as below (please, note the <classifier> section is mandatory):

[code]

[2021-01-12 21:23] martinda opened #136 "NullPointerException in com.cdancy.jenkins.rest.domain.queue.AutoValue_Task.<init>(AutoValue_Task.java:16)"
### Current Behavior
When calling:
[code]
This exception is sometimes thrown:
[code]

### Context

Without re-trying, it crashes the application. We will implement a retry as a workaround.

### Steps to Reproduce (for bugs)
It seems to be an unexpected response from Jenkins itself. If I get a hold of the HTTP packet that causes it, I will post it here.

### Your Environment

* Version 0.0.27 of je

[2021-01-12 21:52] cdancy commented on #136
@martinda interesting ... so `name` is sometimes not present. We can add an `@Nullable` annotation to clean that up easily enough.

[2021-01-15 03:38] chingjustwe opened #137 "why there are only two workflow related api?"
I came from [pipeline-stage-view-plugin](https://github.com/jenkinsci/pipeline-stage-view-plugin/tree/master/rest-api) and saw there are lots of existing restful apis, But I only find two of them in [JobApi](https://github.com/cdancy/jenkins-rest/blob/master/src/main/java/com/cdancy/jenkins/rest/features/JobsApi.java): **jobs:workflow** and **jobs:pipeline-node**, I have to write my own code if I

[2021-01-15 21:52] cdancy commented on #137
@chingjustwe this project is **entirely** community driven. If you'd like to see something just send in a PR!

[2021-01-25 18:32] #136 closed

[2021-01-25 18:33] #134 closed

[2021-01-25 18:33] cdancy commented on #134
Closing. Feel free to re-open should you want to discuss further.

[2021-01-25 18:36] cdancy commented on #137
@chingjustwe closing. Feel free to re-open if you'd like to further discuss.

[2021-01-25 18:36] #137 closed

[2021-02-09 14:23] choweiyuan opened #142 "Migrate to Maven Central"
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/
https://www.infoq.com/news/2021/02/jfrog-jcenter-bintray-closure/

JFrog is sunsetting JCenter bintray, which this repository is using. Should move to other repositories such as maven central.

### Expected Behavior

Users should be able to use this library via maven central

### Current Behavior

Users have to specif

[2021-02-09 14:41] cdancy commented on #142
@choweiyuan thanks for opening the ISSUE to track things. Yes I heard about this over the past week. I generally shy away from publishing directly to maven as it's just a pain to do and feels overly complicated. I'm hoping that gradle themselves will jump behind a potential solution. I hear github has their own package repository, which I've never played with, but could be a good solution.

I'm de

[2021-02-09 15:44] choweiyuan commented on #142
I haven't read this article but seems to have a lot of helpful guide on how to migrate

https://blog.sonatype.com/what-publishers-need-to-know-about-migrating-from-jcenter-/-bintray-to-the-central-repository

More URLs
https://getstream.io/blog/publishing-libraries-to-mavencentral-2021/
https://github.com/vanniktech/gradle-maven-publish-plugin

[2021-02-17 19:44] matthew-bovolotto opened #143 "NullPointerException in com.cdancy.jenkins.rest.domain.queue.AutoValue_Task.<init>(AutoValue_Task.java:18)"
### Current Behavior
When calling:

`final List<QueueItem> queueItems = client.api().queueApi().queue();`

This exception is sometimes thrown:
[code]

### Context
Causes application crash, unable to access queue information.

### Steps to Reproduce (for bugs)
Seems to be inconsistent from Jenkins, captured HTTP packet:

[code]

Seems to be the same issue encountered in: https://github.com/cdancy/j

[2021-02-17 20:51] cdancy commented on #143
Interesting .... yeah very similar in that the data being returned is just not complete. Let me spin up a quick fix for this.

[2021-02-18 14:41] cdancy commented on #143
Merged. I'll kick a release shortly.

[2021-02-18 16:51] cdancy commented on #143
`v0.0.29` has been released.

[2021-02-18 16:51] #143 closed

[2021-03-23 13:36] #127 closed

[2021-03-31 11:19] ChorusIdea commented on #119
You can try to use jvm proxy as alternative
Properties props = new Properties();
props.setProperty("jclouds.enable-jvm-proxy", "true");

then pass the arguments as run time
-Dhttp.proxyHost={host} -Dhttp.proxyPort={port}

[2021-03-31 18:09] zaphinath opened #150 "jcenter being retired"
jcenter has announced they are shutting down. Is there an alternative place this is hosted?

[2021-03-31 18:18] cdancy commented on #150
@zaphinath not yet. I suspect maven will be the only choice going forward and so will need to wire things up.

[2021-04-19 09:43] 29jm opened #156 "jobInfo returns null for jobs within a WorkflowMultiBranchProject type of job"
I have a Jenkins job with `.clazz()` attribute `org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject`, and getting the `JobInfo`s of its children jobs doesn't work, returning `null`.

### Expected Behavior

If `folder1/folder2/multiJob` is a job with `.clazz()` attribute `org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject`, then it's (up to the `_class` attribut

[2021-04-19 12:18] cdancy commented on #156
Hello @29jm. You could put together a PR that reproduces the issues within a test. Are you interested in sending in a PR to fix this or looking for someone from the community to do so?

Can you also run things with debug/http-wire logging enabled to see what the returned output looks like? Just wondering if Jenkins itself is returning "nothing" or we're failing to parse something.

[2021-04-19 13:22] 29jm commented on #156
Hi, thank you for the quick response. After double checking things on my end, I noticed I had the path wrong in my calls to `jobInfo` when using multi branch jobs... So this in fact works fine, sorry for the noise.

The only potential "issue" remaining is the `NullPointerException` when getting the `JobInfo` of a multi branch job (though that one doesn't bother me, I can just check the class attri

[2021-04-19 13:22] #156 closed

[2021-04-19 13:36] martinda commented on #150
Let me know if I can be of help @cdancy .

[2021-04-19 14:24] cdancy commented on #156
@29jm yeah please do and if you can send along the stracktrace as well as the http-wire logs that would be great. Let me know if you need getting either of those.

[2021-04-19 14:26] cdancy commented on #150
@martinda yes you can! I haven't had time to look into things. I have next week off from work and hopefully things won't be too busy and so was planning to look into things then. But setting up the maven account/creds, or whatever needs to be done, would be great if you can easily knock it out. We're all doing this in our own time, or when we have free cycles, so don't feel any kind of way if you

[2021-04-19 14:30] cdancy commented on #150
Also ... here is another project I've contributed to in the past that recently did the cutover though in this case it's to the plugin-portal. The gradle side of the code however should be more/less the same.

https://github.com/bmuschko/gradle-docker-plugin/pull/1001/files

[2021-04-19 14:36] 29jm commented on #156
@cdancy Will do!

[2021-04-19 15:58] 29jm opened #157 "NullPointerException when getting the job info of a multi target job"
When getting the `JobInfo` of a job of class `org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject`, a `NullPointerException` is thrown, along with the message "Null color".

### Expected Behavior

Not sure.

### Current Behavior

The attached output is produced (stacktrace + http log): [output.log](https://github.com/cdancy/jenkins-rest/files/6337359/output.log)

### Steps to Rep

[2021-04-19 16:03] cdancy commented on #157
@29jm definitely a bug. I'll send in a fix.

[2021-04-19 16:10] cdancy commented on #157
@29jm the fix is committed on the `master` branch. I'm not sure if you're familiar or comfortable with building locally and testing that out but if you could that would be great. Otherwise I can kick a new point release.

[2021-04-19 16:35] 29jm commented on #157
I'm really not familiar with that unfortunately :/ I'll be able to test tomorrow (and later) if you make a release though.

[2021-05-18 21:12] agaro1121 commented on #150
Hello
Has there been any progress on this issue?

[2021-05-19 11:06] dboxodds commented on #67
Hey, fuckers I just copied my build jobs from other jenkins and you guys give me this shit.
Why don't you fuckers have a simple checkbox to disable this fucking crumb like normal people would have ?

Do Chinese hackers infiltrate these open source projects nowadays because everything is so fucked up.

Specially everything related to jenkins is fucked up badly. for instance, sane people won't give

[2021-06-04 16:57] manzaiya commented on #157
Not sure if this is an appropriate place to post the jobList() api also throws a NullPointerException when there are no previous jobs.

Caused by: com.cdancy.jenkins.rest.shaded.org.jclouds.http.HttpResponseException: Error parsing input: Null jobs
Ex)
jenkinsClient().api().jobsApi().jobList(pipelineFolder) //NPE

Should I post an open issue?

[2021-06-10 15:27] martinda commented on #150
This is a duplicate of #142

[2021-06-10 15:27] #150 closed

[2021-06-10 15:40] martinda commented on #142
@cdancy : You need to pick coordinates for Maven Central. There are two choices, and proof of ownership have to be made in either case. As much as I'd like to, I can't really do this for the project.

Please see [Choosing your coordinates](https://central.sonatype.org/publish/requirements/coordinates/) and this [blog post](https://getstream.io/blog/publishing-libraries-to-mavencentral-2021/) expla

[2021-06-29 17:15] martinda commented on #142
@cdancy It turns out that you do not own the cdancy.com domain (it is owned by a university professor). So publishing on Maven central using com.cdancy will not be possible. I registered myself to central and did a SNAPSHOT release under [ca.martinda](https://s01.oss.sonatype.org/#nexus-search;quick~jenkins-rest). Direct link: https://s01.oss.sonatype.org/content/repositories/snapshots/ca/martinda

[2021-07-01 07:34] rohitranjan1991 opened #165 "Valid Certificate Error"
Certificate Error While connecting to Jenkins.

In additional to this, i am providing the token as "<user>:<token>" to the .token() menthod.

### Expected Behavior
It should connect.

### Current Behavior

Getting this response right now:

Unexpected exception being thrown: error=Error{context=null, message=sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider

[2021-07-01 10:33] martinda commented on #165
Hi @rohitranjan1991 . Thanks for reporting this problem. In order for a fix to be made, the problem needs to be reproduced and a unit test written. The only way I know to do this is to capture the JSON or the HTTP response. Can you please use the instructions in the [wiki](https://github.com/cdancy/jenkins-rest/wiki) to enable HTTP Logging and share what you get here?

Note that at this time the m

[2021-07-11 09:30] zkoalas opened #166 "403 No valid crumb was included in the request"
when i use API update_job to update jenkins job, i find if i have chinese in config string ,the jenkins config.xml can't recognize correct chinese,but if i just update job by jenkins web,i will be work

So i guess it must be something wrong in http request, i try to use http request, and add header headers: { 'Content-Type': 'application/xml;charset=UTF-8' }
it works correct .

I look up the sourc

[2021-07-15 17:38] martinda commented on #166
@zkoalas are you able to please send a pull-request?

[2021-07-16 12:25] martinda opened #169 "Anonymous access needs to get a crumb"
### Expected Behavior
When POSTing to configuration-as-code anonymously to a non-secured Jenkins server (for example one started with `-Djenkins.install.runSetupWizard=false`), jenkins-rest needs to succeed. Note, posting to configuration-as-code is available since https://github.com/cdancy/jenkins-rest/pull/153, and that plugins can be pre-downloaded.

### Current Behavior
The HTTP POST fails bec

[2021-07-30 04:50] shanmukakondaveti commented on #50
hii,i need to check status whether the job build  is success or failed,can anyone post the required code to check job status

[2021-08-02 02:27] agilests opened #178 "How to use the certificates to access the internal jenkins resources"
e.g.
curl --insecure --cert-type P12 --cert cert_file:pwd https://xxx/job/demo/api/json

[2021-08-02 10:59] shanmukakondaveti commented on #71
hii,i tried com.cdancy.jenkind jar in our project,it is working fine in local application ,but when we run it as jenkins job ,application is failing as this jar is not importing from pom.xml,everything looks fine in local,but what wrong with jenkins pipeline is not understanding?can anyobody solve my issue
![image (3)](https://user-images.githubusercontent.com/83701275/127851341-46b0830f-9c7b-4a54

[2021-08-04 18:08] FurmigaHumana commented on #166
I am also with this issue

HTTP ERROR 403 No valid crumb was included in the request

[2021-08-06 14:33] martinda commented on #142
FYI I am slowly getting there... In order to get an unowned and "neutral" domain name for publishing, I had to fork the project over to a new github organization: https://github.com/jrestclients/jenkins-rest

In turn, this github org was used to publish a snapshot to maven central: https://s01.oss.sonatype.org/index.html#nexus-search;quick~io.github.jrestclients from my local clone.

My next steps

[2021-08-23 12:54] KlausJenkins commented on #157
Hi,
I've stumbled over this bug, but, alas the current maven version 0.0.29 does not contain the fix.
https://mvnrepository.com/artifact/com.cdancy/jenkins-rest?repo=jcenter
Would you be so kind to to create a version with this fix

Thank you in adavance

[2021-11-03 18:11] darewreck54 opened #183 "Usage of Custom headers?"
This is more of a question.  Does the JenkinsClient support the ability to add custom headers?  I'm not seeing that in the interface.

At my company, we require to have a specific header too authenticate for any traffic internally.  So in order for me to talk to the jenkins server, I need to add a header.

[2021-11-03 18:19] cdancy commented on #183
Not currently supported but could certainly be added with not too much work if you wanted to knock things out.

[2021-11-06 16:40] darewreck54 commented on #183
Took a look at the JenkinsClient
[code]
I haven't really used jcloud before.  How would you inject headers in this use case.  Can you give some pointers on where this logic should live?

[2021-11-08 01:59] cdancy commented on #183
@darewreck54 I'd probably add something to the builder to take in a map of headers. Within that code path you can set those on the JenkinsAuthentication object. Then, within the `JenkinsAuthenticationFilter`, you can read any potential headers found within the JenkinsAuthentication object and apply them to the HttpRequest builder wtihin at the appropriate spot. Something like that should work. Kee

[2021-11-24 16:02] jitendramwd opened #187 "How to send file in the build parameters by using this"
I was trying to invoke Jenkins job build which has file as a parameter buildWithParameter method doesn't have any option to send the file

### Expected Behavior
There should be an option to send a file in the params in buildWithParameters
### Current Behavior
No Option found to send file in the params of buildWithParameters

### Context
I want to invoke Jenkins job build which has file as a parame

[2021-11-24 16:45] cdancy commented on #187
@jitendramwd which method specifically are you referring to as we have lots of `buildWithParameters` methods. Also ... you can send in a PR to support this functionality if you're up for it? Project is designed to be driven largely by annotations so shouldn't be too bad to wire things up.

[2021-11-25 02:02] Fick707 opened #188 "how to stop a build"
Sometimes we want to abort a running build.
How to do so via the REST api ?

[2021-11-25 03:11] martinda commented on #188
Currently I don't see an API in the jenkins-rest for aborting a build. But there is an API for it in the [Jenkins documentation](https://www.jenkins.io/doc/book/using/aborting-a-build/) , care to send a pull-request?

[2021-11-30 01:56] zhigang0309 commented on #166
这个问题解决了吗

[2021-11-30 02:06] zhigang0309 opened #189 "Error 403 No valid crumb was included in the request"
### Expected Behavior

### Current Behavior

### Context

### Steps to Reproduce (for bugs)

### Your Environment

[2021-11-30 18:38] #142 closed

[2021-11-30 18:38] #47 closed

[2021-12-01 11:52] choweiyuan commented on #142
I see that this is closed but not sure if it is published to maven central at the moment? What's the status of this?

[2021-12-01 14:34] cdancy commented on #142
@choweiyuan it is indeed being published to maven central now. Check out the README to see newest GAV coordinates.

Martin opened up that project as I was dragging my feet with migrating things to maven central. I will let him give an update as to the state of things there and what he wants to do with that project. I plan on maintaining things here however now that things are properly working.

[2021-12-01 14:55] cdancy commented on #189
@martinda I believe has a fix for this if I'm not mistaken.

[2021-12-03 06:23] Fick707 commented on #188
Yeah,I have implemented this function temporarily, by add the following line in src/main/java/com/cdancy/jenkins/rest/features/JobsApi.java

    @Named("jobs:stop-build")
    @Path("{optionalFolderPath}job/{name}/{number}/stop")
    @ResponseParser(RequestStatusParser.class)
    @Consumes(MediaType.WILDCARD)
    @POST
    RequestStatus stopBuild(@Nullable @PathParam("optionalFolderPath") @ParamPar

[2021-12-03 06:47] Fick707 commented on #188
I have sent a pull request for this issue.

[2021-12-04 16:59] martinda commented on #189
Yes I have a fix. There are a few problems to solve before I can send a PR for my fix.

[2021-12-04 17:25] martinda opened #191 "Numerous plugin dependency errors in the container used for testing"
## The problem

The integration tests fail when run locally with:

[code]

The errors are in:
[code]

Examining the Jenkins server that runs in the container, we observe that:

1. The configuration-as-code plugin is missing, this explains the first two errors;
2. The folders plugin cannot be loaded, this explains the second error.

Regarding the folder plugin, the Jenkins plugin manager page (unde

[2021-12-04 17:27] martinda commented on #189
The problems that need to be solved are in #191 , they are not that hard to fix but would required a new minimum Jenkins version to be used in testing, which might have other consequences.

[2021-12-05 01:12] martinda commented on #189
This is already tracked in #169

[2021-12-05 01:12] #189 closed

[2021-12-05 01:16] martinda commented on #166
The no valid crumb issue is already tracked in #169.

[2021-12-06 15:33] #191 closed

[2021-12-08 02:42] #178 closed

[2021-12-08 02:42] cdancy commented on #178
Closing issue as its been open for a few months now. Feel free to re-open if you want to discuss further.

[2021-12-08 02:43] cdancy commented on #165
Lets close this issue as it seems to have gone stale. Feel free to re-open if you'd like to discuss further.

[2021-12-08 02:43] #165 closed

[2021-12-08 02:44] cdancy commented on #166
Lets close this as it's already being tracked.

[2021-12-08 02:44] #166 closed

[2021-12-08 02:44] cdancy commented on #123
Closing as convo has gone stale. Feel free to re-open should you want to discuss further.

[2021-12-08 02:44] #123 closed

[2021-12-08 02:45] cdancy commented on #87
Closing as issue has gone stale. Feel free to re-open if you want to discuss further.

[2021-12-08 02:45] #87 closed

[2021-12-08 02:45] #50 closed

[2021-12-08 02:46] cdancy commented on #114
Convo has gone stale and I never had time to go back and look into things. Feel free to re-open should you want to discuss further.

[2021-12-08 02:46] #114 closed

[2021-12-08 02:47] cdancy commented on #119
Closing as convo has gone stale. As there is a potential solution above I would suggest trying that.

[2021-12-08 02:47] #119 closed

[2021-12-08 02:48] cdancy commented on #157
We've released a lot of recent fixes. Folks are free to test them out.

[2021-12-08 02:48] #157 closed

[2022-01-04 18:05] martinda opened #206 "Better processing of JSON error responses in Http Response body"
I would like better processing of JSON error responses. Currently when the error response is in the body of the Http response, it is not processed as json, it is stored as plain text in the exception message. This means that the user code has to parse the exception error message in order to extract the real error message. It would be easier if the json body was processed so users would not have to

[2022-01-14 13:14] #188 closed

[2022-01-14 13:30] martinda opened #209 "Mock tests are flaky"
Since #195 and #207 were merged together, the mock tests appear to be flaky. Sometimes they pass, and sometimes they don't. There appears to be an issue with the MockWebServer not responding:

[code]

I am still studying the changes between v1.0.0 and v0.0.31

[2022-01-14 13:39] martinda commented on #209
The live tests are okay `./gradlew liveTest -x mockTest` -> works.
So it's just the mock tests...

[2022-01-14 14:51] cdancy commented on #209
@martinda where do you see the flakiness? Local or on CI? Any other potential environment factors we can think of? I'll run things here a bit to see if I can reproduce. Worst case is we revert the test library changes.

[2022-01-14 15:14] martinda commented on #209
It's local. I am still looking into it. I'll try reverting various test changes to see where the issue is introduced.

[2022-01-14 15:25] martinda commented on #209
This issue happens locally about 75% of the time on commit 2679337  with `./gradlew mockTest`.

[2022-01-14 15:44] cdancy commented on #209
@martinda I'm on master and just ran things in a loop 20 times with no failures. What JDK are you using? Here is mine:
[code]

[2022-01-14 16:58] cdancy commented on #209
@martinda interesting ... so maybe a jdk8 bug then. I'm not even sure if jdk8 is still supported anymore. Might make sense to switch to jdk11 in the build as I believe that's their current LTS version (I could be wrong there).

[2022-01-14 17:00] martinda commented on #209
The jenkins docker container still show this: `java.runtime.version | 1.8.0_292-b10`. Looking for a JVM 11 image...

[2022-01-14 20:57] #209 closed

[2022-02-04 11:57] scramados opened #218 "Allow retrieval of job Artifacts"
The current jobs api does not provide a function to retrieve artifact data.
I would like to add a function that returns an input stream of data of specific jobs.

I can make my own version of this or create a new dependency but I thought it might be better just to add it to the source.

### Expected Behavior
The jobs api provides a function to retrieve artifact data of specific artifacts.

### Con

[2022-02-04 13:38] scramados commented on #218
Should this call be added to the Jobs api and should it return an input stream?

[2022-02-14 18:08] cdancy commented on #218
@scramados commented on the PR itself but: yes and yes :)

[2022-02-15 22:31] scramados commented on #218
Cool, i'll pack it in a response object and will try create unit tests for it tomorrow.

[2022-02-17 03:30] duhuangwen opened #220 "how to user JenkinsClinet api manage nodes"
### Expected Behavior

### Current Behavior

### Context

### Steps to Reproduce (for bugs)

### Your Environment

[2022-02-17 14:17] cdancy commented on #220
@duhuangwen I don't think we have that feature implemented yet.

[2022-02-18 12:42] Nicu03 opened #221 "How to send file to jenkins"
I have a Jenkins server on PC1.
From PC2 I want to send a file to a pipeline job.

For this I use the code below:
`client = JenkinsClient.builder().apiToken(USER_AND_TOKEN).endPoint(server + ":" + port).build();
HashMap<String, List<String>> param = new HashMap<>();
param.put("file", Lists.newArrayList(ABSOLUTE_PATH));
client.api().jobsApi().buildWithParameters(null, "jobName", param);
`
and in je

[2022-02-18 14:41] cdancy commented on #221
@Nicu03 I'm honestly not sure. @martinda any thoughts?

[2022-02-19 03:00] martinda commented on #220
A workaround exists. A configuration-as-code file can be uploaded to configure a node. The details of that configuration-as-code file would be for you to compose. I suggest  that you configure Jenkins with a node manually through the UI, then you can view or download the casc yml file via the UI to study how it work, then use this library to upload casc.yml files.

This library does support config

[2022-02-19 03:50] martinda opened #222 "Plugin dependency issue in current docker jenkins version"
The current docker image calls for jenkins 2.277.4-jdk11. When running this version, I get the following error:

[code]

See [this community discussion](https://community.jenkins.io/t/jenkins-docker-issue-multiple-plugin-prerequisites-not-met/1586) for additional details.

Upgrading to 2.335-jdk11 appears to fix the problem. I am preparing a pull-request.

[2022-02-19 05:12] martinda commented on #222
Two other solutions exist to make the image build again:

* Use `--latest false` with the plugin manager in the Dockerfile.
* List all the plugin version in plugins.yml

However doing so I ran into another issue: https://issues.jenkins.io/browse/JENKINS-67848

[2022-02-19 19:49] Nicu03 commented on #221
So this is the correct way to trigger a job with a file parameter or I did something wrong ?

[2022-02-20 03:07] martinda commented on #222
A solution came from the [community discussion](https://community.jenkins.io/t/jenkins-docker-issue-multiple-plugin-prerequisites-not-met/1586).

The solution is to list all the plugins and their versions. This presents a new challenge, that of establishing a procedure for refreshing the list of plugins for the docker image used by the live tests.

[2022-02-20 19:50] martinda commented on #221
I can reproduce your issue @Nicu03 . The parameter of type File is not supported in this library, not yet. Your request is a duplicate of #187 .

[2022-02-20 19:50] #221 closed

[2022-02-21 15:06] martinda commented on #222
Another solution is to remove the versions in the list of plugins and let the Jenkins plugin dependency resolution algorithm pick the latest compatible versions for all plugins. This has the drawback of being non-reproducible.

I am choosing this solution as it is the simplest one to implement.

[2022-03-07 14:23] cdancy commented on #222
Merged relevant PR.

[2022-03-07 14:23] #222 closed

[2022-03-14 10:29] mashuangwei opened #226 "怎么获取test result数据值？"
![image](https://user-images.githubusercontent.com/7100779/158154315-6922ebaf-1656-4848-be87-ee543521ef1d.png)

[2022-03-15 01:15] martinda commented on #226
Hello @mashuangwei . This feature does not exist in jenkins-rest. Would you be able to send a pull-request with some tests? I'd be happy to review it.

[2022-03-25 02:29] ksshim86 opened #227 "jobsApi().buildInfo().result() bug??"
I'm not good at English. hope you understand.

SUCCESS is returned even though the build is not finished.

The part where SUCCESS is returned is sshCommand.

Shouldn't the test function "getCompleteBuild" be changed to "buildInfo.building() == true" ?

[2022-03-25 13:05] cdancy commented on #227
@ksshim86 are you executing tests or this is a real world scenario? Can paste a snippet of code you are using to reproduce the issue?

[2022-03-29 05:18] ksshim86 commented on #227
"buildInfo.result()" is called "sshCommand" and "SUCCESS" is returned.

[code]

[code]

[2022-04-02 15:01] martinda commented on #227
Hello @ksshim86 I have no evidence, but I suspect the test code is okay. However in your code maybe the build result is set to non-null before the build ends. Maybe the `sshCommand` does that internally? I do not know.

I remember that it is complicated to detect the end of the build. I vaguely remember that if I look at `buildInfo.building()` too soon after the build transitions from "in the queu

[2022-04-03 03:23] ksshim86 commented on #227
@martinda thank you. Let's test it a little more variety.

[2022-04-03 13:48] panyanming opened #229 "jobList方法不起作用"
### Expected Behavior

我想使用 jobList 方法获取用户的job列表，但是这个方法不起作用。请问folderPath这个参数应该传什么？
### Current Behavior

### Context

我在本地使用docker安装了jenkins
### Steps to Reproduce (for bugs)

![54A7E643-6676-4d69-924A-8B9BA4DAD1B0](https://user-images.githubusercontent.com/16450764/161431091-4068a67b-b072-4e92-9044-c6c43a428665.png)
![E76166A6-2DA8-4966-BD83-08CF1C46E556](https://user-images.githubusercontent.com

[2022-04-04 08:17] #227 closed

[2022-04-24 05:57] chixianliangGithub commented on #229
![image](https://user-images.githubusercontent.com/11659305/164958736-bd7a93e1-73b8-4ef6-91ab-d28bf05ceea8.png)
![image](https://user-images.githubusercontent.com/11659305/164958757-d7cd17fc-0a0c-432b-89fc-3013cd1cae69.png)

[2022-04-29 09:14] tyge68 commented on #226
it would be nice to at least return the json output from <buildinfo_url>testReport/api/json

[2022-04-29 09:58] tyge68 commented on #226
@martinda  I have provided a possible PR
cc @mashuangwei

[2022-05-05 08:40] mubinB opened #232 "Fetching BuildInfo object returns some field values as null when called through Java Jenkins Client, but returns values when made call through PostMan"
I made a Java call to fetch BuildInfo objects for a particular Job; but the object contained partial state with some fields as nulll (e.g result).

After writing following code....
JobInfo jobInfo = jenkinsClient.api().jobsApi().jobInfo(null, "Job_Name");
List<BuildInfo> buildList = jobInfo.builds();

I got  following result...
[BuildInfo{artifacts=[], actions=[], building=false, description=null,

[2022-05-05 10:57] cdancy commented on #232
@martinda does this look familiar at all?

[2022-05-05 15:53] carr-james commented on #232
I ran into this problem myself, it is due to a quirk with how Jenkin returns build info when requesting job info.

With the rest client you are making a request for the **job info** which returns a minimal view of the **buildInfo**.
You can verify this by checking out the difference between the following responses, http://jenkinsurl/job/TEST_remote_build/api/json and http://jenkinsurl/job/TEST_rem

[2022-05-06 11:30] martinda opened #234 "Add live test for PR 230"
PR #230 needs a live test.

[2022-05-06 12:21] martinda commented on #232
No I have not seen this case before @cdancy but I like @carr-james ' suggestion. The best is to come up with a live test to demonstrate the issue. If anyone wants to try, just run the two docker commands in [.travis.yml](https://github.com/cdancy/jenkins-rest/blob/32f485bd0b1812207b468825b157978bbafd0274/.travis.yml#L17) and add a test to [JobsApiLiveTest.java](https://github.com/cdancy/jenkins-re

[2022-05-08 08:52] Lv-Lifeng opened #235 "How to get a list of views and get jobs with the view."
### Expected Behavior

### Current Behavior

### Context

### Steps to Reproduce (for bugs)

### Your Environment

[2022-05-08 08:54] #235 closed

[2022-05-13 10:20] mubinB opened #237 "ForbiddenException occurs when triggering remote build using Job Authentication token"
Hi,
I am triggering remote builds using this wrapper library...
My configurations are as below.

JenkinsClient.builder().endPoint(MY_JENKINS_URL).build();

### Expected Behavior
// Adding token as a query parameter
Map<String, List<String>> properties = new HashMap<>();
properties.put("token", Arrays.asList("MY_TOKEN"));
properties.put("name", Arrays.asList("test_param"));

IntegerResponse respons

[2022-05-17 10:15] dzh6699 opened #238 "jobInfo.lastBuild().building() alway retrun false"
my job is running,
but
jobInfo.lastBuild().building()
always return false

### Your Environment
jenkins version [2.332.3]
jenkins-rest  1.0.0

[2022-05-17 14:27] cdancy commented on #238
@dzh6699 can you run your process with debug logs enabled? If you do so the jclouds framework will output the http wire logs which lets us know why you're getting an incorrect value.

[2022-05-17 14:28] cdancy commented on #237
@mubinB interesting ... maybe a VPN related issue? Can you run with debug logs enabled in however you would do so with your java process? The library will output the http wire logs and allow us to see what's going on.

[2022-05-24 10:23] martinda commented on #237
The `ForbiddenException` looks like an authentication issue to me. Please turn on [debug logs](https://github.com/cdancy/jenkins-rest/wiki/Logging) and examine the HTTP packets.

[2022-05-26 08:55] revertXC opened #240 "Jenkins could not obtain system attributes"
### Current Behavior

SystemInfo{errors=[Error{context=null, message=Null server, exceptionName=java.lang.NullPointerException}], hudsonVersion=-1, jenkinsVersion=-1, jenkinsSession=-1, instanceIdentity=-1, sshEndpoint=-1, server=-1}

### Steps to Reproduce (for bugs)

public static void main(String[] args) throws Exception {
        JenkinsClient client = JenkinsClient.builder()
                .

[2022-06-17 16:25] felicepagano commented on #237
I'm facing the same issue.
In my case it relies in the set-cookie header name.

The method CrumbParser#sessionIdCookie try to get the values, from the headers multimap, using the key "Set-Cookie" (it use HttpHeaders#SET_COOKIE), but Jenkins response use "set-cookie" as header name.

There is a way to override this behaviour without modifying the library? e.g. using some custom com.google.inject.Mo

[2022-06-17 19:32] cdancy commented on #237
@felicepagano interesting ... can you send in a quick PR to fix this in the library perhaps checking for both versions?

[2022-06-19 18:00] felicepagano commented on #237
https://github.com/cdancy/jenkins-rest/pull/244

[2022-06-19 18:00] felicepagano commented on #237
https://github.com/cdancy/jenkins-rest/pull/244

[2022-06-22 08:09] HarounGY opened #245 "BuildInfo return duration 0"
![image](https://user-images.githubusercontent.com/17424154/174977685-68a52774-5375-4bcb-b1d2-3d82d9c35c1f.png)
i used last version code build jar by myself。

[2022-06-22 08:11] HarounGY commented on #245
{"_class":"hudson.model.FreeStyleBuild","actions":[{"_class":"hudson.model.CauseAction","causes":[{"_class":"hudson.model.Cause$UserIdCause","shortDescription":"Started by user admin","userId":"admin","userName":"admin"}]},{"_class":"org.jenkinsci.plugins.cppcheck.CppcheckBuildAction"}],"artifacts":[],"building":false,"description":null,"displayName":"#6","duration":814,"estimatedDuration":679,"ex

[2022-06-22 08:11] HarounGY commented on #245
i get this json in browser

[2022-06-22 08:15] HarounGY commented on #245
timestamp is 0 too

[2022-06-23 01:57] HarounGY commented on #245
Thank you very much。

[2022-06-23 01:57] #245 closed

[2022-06-23 07:39] Kneudel opened #246 "NoSuchMethodError"
Hi,

if I try to create a new JenkisClient object after calling method "...build()" I get this Exception:

`Exception in thread "main" com.google.inject.CreationException: Unable to create injector, see the following errors:

1) [Guice/ErrorInCustomProvider]: NoSuchMethodError: ConstructorConstructor.<init>(Ljava/util/Map;)V
  at GsonModule.provideGson(GsonModule.java:99)
      \_ installed by: Je

[2022-06-23 14:43] cdancy commented on #246
@Kneudel I suspect this is most likely due to dependency clobbering. You can use the `all` classifier when resolving this artifact and that should give you better results (at the cost of 1 giant shaded jar).

Can you give some more details about your setup or what your build looks like?

[2022-06-24 09:52] tyge68 opened #247 "Provide a method to list the artifacts"
### Context
I need to list the artifacts of a build, since the files are generated and have different names (i.e prefix####.data) and so I need a way to list, so I can then download them using artifact method which uses the relative path.

To list the arfifacts we usually use .../api/json?tree=artifacts[relativePath] parameter in the url.

Ideally it should map the JsonObject to a String[] with th

[2022-06-24 12:03] tyge68 commented on #247
I just realise it is available already under the BuildInfo object, so this is no longer required.

[2022-06-27 06:27] duhuangwen commented on #220
@martinda Thank you for your help, your suggestion is useful and I have solved it

[2022-06-27 06:27] #220 closed

[2022-06-27 06:35] Kneudel commented on #246
Hi,

if I use the all classifier, it works. Thanks.

[2022-06-27 12:45] #246 closed

[2022-07-05 03:49] ChenAdminChen opened #250 "ChangeSet not have value"
# I use java code, not have changeSet information
[code]

# I use rest api , have changeSet information
curl http://127.0.0.1:8080/job/test/36/api/json

result:
{
.......
"changeSet": {
"_class": "hudson.scm.SubversionChangeLogSet",
"items": [
{
"_class": "hudson.scm.SubversionChangeLogSet$LogEntry",
"affectedPaths": [
"test/src/main/resources/application-dev.yml"
],
"author": {
"absoluteUrl": "ht

[2022-07-06 18:06] cdancy commented on #250
@ChenAdminChen have a look at [THIS CODE](https://github.com/cdancy/jenkins-rest/blob/c69b0824da65434e3e85ff7c5315f0a896c71356/src/test/java/com/cdancy/jenkins/rest/features/JobsApiMockTest.java#L639) and see if that works out for you.

[2022-07-07 01:20] ChenAdminChen commented on #250
I

I found out the cause of the problem, the `http://127.0.0.1:8080/job/test/36/api/json` API return  `changeSet` but not `changeSets`, and the changeSet is Object but not List Conllection

I pull code and adjust the code, is ok
![image](https://user-images.githubusercontent.com/32416945/177668257-1137cf3d-3739-47b0-9beb-c1cbedb11e26.png)

I use jenkins version is 2.357, I don't know if it's a ver

[2022-07-20 09:14] duhuangwen opened #251 "how can I find my jenkins job is building"
### Expected Behavior

    public static boolean isBuilding(String folderPath, String jobName, JobsApi jobsApi) {
        boolean isBuilding = true;
        JobInfo jobInfo = jobsApi.jobInfo(folderPath, jobName);
        if (StringUtils.isNull(jobInfo)) {
            throw new ServiceException("jenkins task does not exist ,task name is 【" + jobName + "】");
        }
        BuildInfo lastBuild = j

[2022-08-23 14:16] choweiyuan opened #252 "Migrate to travis-ci.com"
### Expected Behavior
CI build should run

### Current Behavior
CI build seems to be failing on travis-ci.org since last year,
https://blog.travis-ci.com/2021-05-07-orgshutdown
https://travis-ci.org/github/cdancy/jenkins-rest

Migrate procedure here: https://docs.travis-ci.com/user/migrate/open-source-repository-migration

### Context

### Steps to Reproduce (for bugs)

### Your Environment

[2022-08-23 14:20] choweiyuan opened #253 "Support JDK17"
### Expected Behavior
I'd like some confidence that this library supports JDK17

### Current Behavior
Unclear if this supports. but based on travis.yml we seem to have removed running against JDK17 due to some library incompatibility.
https://github.com/cdancy/jenkins-rest/commit/737a770adb675818cc3988a4e33aa5230136dc7c

### Context
I'm considering to upgrade Spring Boot 3 when its ready, and Spri

[2022-08-23 16:39] cdancy commented on #252
@choweiyuan I honestly have not been looking at the CI builds here and instead just run them locally when I need to do a release.

I know @martinda has played around with this before and might be able to spot something off.

[2022-08-23 16:56] cdancy commented on #253
@choweiyuan that was due to a plugin related reason for the build itself and not anything to do with jdk17. Things should just work unless anyone has spotted a reason it doesn't.

[2022-08-23 22:33] lemeurherve commented on #252
As an alternative, this project could be hosted and built on Jenkins infrastructure if you want.

[2022-08-24 04:24] fatihhguvenn commented on #253
Below initialization fails with Spring Boot 2.7.x
JenkinsClient.builder().endPoint(jenkinsHost).credentials(jenkinsUser:jenkinsToken).build();

Works well with 2.6.x though

[2022-08-24 14:09] martinda commented on #252
I had a [fork](https://github.com/jrestclients/jenkins-rest) (now disabled and possibly hidden) that used the github actions to build it. I don't now how to get it built on Jenkins. Do you mean ci.jenkins.io ? That's only for the Jenkins community. But if this project is build on Jenkins, I would recommend building all the cdancy/*-rest project the same way.

[2022-08-24 14:11] cdancy commented on #252
@lemeurherve yeah if there is an easy way to get this up and running on Jenkins somewhere that would be wonderful I just personally don't know how to do so.

[2022-08-25 09:29] lemeurherve commented on #252
@cdancy The process isn't difficult: https://www.jenkins.io/doc/developer/publishing/requesting-hosting/

I understand you might want to keep this repository here, but if you're interested nonetheless I can assist you.

[2022-08-26 00:36] martinda commented on #252
@lemeurherve would this offer also stand for the other libraries such as [cdancy/artifactory-rest](https://github.com/cdancy/artifactory-rest) and [cdancy/bitbucket-rest](https://github.com/cdancy/bitbucket-rest) ?

[2022-08-27 21:40] timja commented on #252
Hi, no it would just be for the Jenkins one.

[2022-09-28 01:52] #251 closed

[2022-09-29 15:37] martinda commented on #253
@fatihhguvenn can you share the exact error message and a small example of how to reproduce?

[2022-09-29 23:17] fatihhguvenn commented on #253
@martinda here is an example project
[jenkinsExc.zip](https://github.com/cdancy/jenkins-rest/files/9679545/jenkinsExc.zip)

- It's a gradle project and needs to be built before run.
- It's a Spring Boot project and src\main\java\com\je\jenkinsExc\JenkinsExcApplication.java should be run
- JenkinsClient needs static String fields to be set properly in src\main\java\com\je\jenkinsExc\JenkinsService.

[2022-10-10 08:15] vinay-m-b opened #263 "Feature to pass parameters when the build is waiting for user input"
### Expected Behavior
Provide a way to pass the parameter/data to the jenkins build when it is waiting for user input while it is running/paused

### Current Behavior
not able to find any solution in library

### Steps to Reproduce (for bugs)
Create a jenkins job which accepts the user input while running the job.
Reference https://stackoverflow.com/questions/48799442/use-jenkins-rest-api-to-resum

[2022-10-18 09:38] siningintherain opened #266 "Does sdk support pause & resume the Build?"

[2022-11-10 08:43] lzl01 opened #267 "api复制job后必须点击该job配置->保存退出才可以build"
![image](https://user-images.githubusercontent.com/41539693/201042739-843e3bb5-1036-4d32-8677-ab2e42c2a7d6.png)

[2022-11-10 14:33] cdancy commented on #267
I do not speak Chinese and not sure what you're trying to convey

[2022-11-30 16:51] alb-i986 opened #271 "Incompatibility with Spring BOM when activating jcloud's request/response logging - NoSuchMethodError: 'void ConstructorConstructor.<init>(Map)' at GsonModule.provideGson"
Similar to #246 (but not that much actually).

I was able to squeeze the issue in the mvn project attached: [project.tgz](https://github.com/cdancy/jenkins-rest/files/10125227/project.tgz)

Run the build (`mvn clean test`) (or the one and only test from your IDE), and you get:

[code]

Turn on `<classifier>all</classifier>` in the pom, and you get:

[code]

Now comment out `<classifier>all</classi